@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============================*/
/* ROOT */
/*=============================*/
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-2: #292D32;
  --color-black-3: #404B52;
  --color-text: #757575;
  --color-grey: #838383;
  --color-grey-2: #7E7E7E;
  --color-grey-3: #EEEEEE;
  --color-light: #9197B3;
  --color-light-2: #B5B7C0;
  --color-light-3: #F5F5F5;
  --color-purpul: #5932EA;
  --color-green: #16C098;
  --color-status-green: #008767;
  --color-status-green-light: rgba(22, 192, 152, 0.38);
  --color-status-red: #DF0404;
  --color-status-red-light: #FFC5C5;
  /*header*/
  --side-menu-width: 306px;
  --side-menu-height: 0px;
  --body-width: calc(100% - 306px);
  --dashboard-width: 1032px;
}
/*media*/
@media(max-width: 1199px){
  :root {
    --side-menu-width: 100%;
    --side-menu-height: 60px;
    --body-width: 100%;
    --dashboard-width: 920px;
  }
}
@media(max-width: 991px){
  :root {
    --dashboard-width: 740px;
  }
}
@media(max-width: 767px){
  :root {
    --dashboard-width: 100%;
  }
}

/*=============================*/
/* CUSTOM PRELOAD */
/*=============================*/
.loader {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;background-color: var(--color-white);-webkit-animation: loader 1.4s linear;animation: loader 1.4s linear;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes loader {0%{opacity: 1;}70%{opacity: 1;}99%{opacity: 0;}100%{display: none;visibility: hidden;z-index: -10;opacity: 0;}}
@keyframes loader {0%{opacity: 1;}70%{opacity: 1;}99%{opacity: 0;}100%{display: none;visibility: hidden;z-index: -10;opacity: 0;}}

/*=============================*/
/* RESET STYLES */
/*=============================*/
* {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;-webkit-text-size-adjust: none;box-sizing: border-box;}
html:not(.touch-screen)::-webkit-scrollbar,html:not(.touch-screen) *::-webkit-scrollbar {width: 6px;height:6px;}
html:not(.touch-screen)::-webkit-scrollbar-track,html:not(.touch-screen) *::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1);}
html:not(.touch-screen)::-webkit-scrollbar-thumb,html:not(.touch-screen) *::-webkit-scrollbar-thumb {background: var(--color-purpul);}
:focus,:active,:visited {outline: none;}

/*=============================*/
/* GLOBAL SETTINGS */
/*=============================*/
html {height: 100%;}
body {height: 100%;}
body.lock {overflow: hidden;}
#content-block {overflow: hidden;position: relative;}
html:not(.ie) #content-block {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height:100%;}
.overflow-hidden {overflow: hidden;}
html.overflow-hidden body {overflow: hidden;}
html:not(.ie) main {-webkit-box-flex:1;-ms-flex:1;flex:1;}
.main {position: relative;width: var(--body-width);height: 100%;margin-left: auto;background-color: #FAFBFF;padding: 42px 0;}
.dashboard {position: relative;display: block;max-width: var(--dashboard-width);padding: 0 20px;margin: 0 auto;}
.section {position: relative;display: block;width: 100%;}
/*spacers*/
.spacer-xl {height: 100px;}
.spacer-lg {height: 80px;}
.spacer-md {height: 60px;}
.spacer-sm {height: 40px;}
.spacer-xs {height: 30px;}
/*media*/
@media(max-width: 1640px){
  .spacer-xl {height: 80px;}
}
@media(max-width: 1440px){
  .spacer-xl,.spacer-lg {height: 70px;}
}
@media(max-width: 1199px){
  .main {height: auto;}
  .spacer-xl,.spacer-lg {height: 60px;}
}
@media(max-width: 991px){
  .spacer-xl,.spacer-lg,.spacer-md {height: 50px;}
}
@media(max-width: 767px){
  .spacer-xl,.spacer-lg,.spacer-md {height: 40px;}
}
@media(max-width: 575px){
  .main {padding: 30px 0;}
  .dashboard {padding: 0 15px;}
  .spacer-xl,.spacer-lg,.spacer-md,.spacer-sm {height: 30px;}
}

/*=============================*/
/* TYPOGRAPHY */
/*=============================*/
body * {font-family: 'Poppins', sans-serif;}
* {-webkit-locale: auto;}
strong {font-weight: 700;}
a {cursor: pointer;text-decoration: none;outline: none;color:inherit;transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;}
a:link, a:visited, a:active, a:hover {cursor: pointer;text-decoration: none;outline: none;}
iframe {border: none;outline: none;}
ul, ol {list-style: none;}
img {width: 100%;height: auto;max-width: 100%;}
button {background-color: transparent;border: 0;cursor: pointer;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;-webkit-appearance: none;}
/*text*/
.text,.text p {font-size: 14px;line-height: 1.6em;letter-spacing: -0.1px;color: var(--color-black);}
.text span,.text p span,.text a,.text p a {font-weight: 500;}
.text a,.text p a {-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*titles*/
h1,.h1 {position: relative;font-size: 24px;line-height: 1.3em;color: var(--color-black);}
h2,.h2 {position: relative;font-size: 22px;line-height: 1.3em;color: var(--color-black);}
/*font-weight*/
.bold {font-weight: 700;}
.semi-bold {font-weight: 600;}
.media {font-weight: 500;}
.normal {font-weight: 400;}
.text-upper {text-transform: uppercase;}
/*position*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
/*colors*/
.color-black {color: var(--color-black);}
.color-white {color: var(--color-white);}
/*text-line*/
.text-line-1 {overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-2 {overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-3 {overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-4 {overflow: hidden;-webkit-line-clamp: 4;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-5 {overflow: hidden;-webkit-line-clamp: 5;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-6 {overflow: hidden;-webkit-line-clamp: 6;-webkit-box-orient: vertical;display: -webkit-box;}
/*media*/
@media(min-width: 1200px){
  .text a:hover,.text p a:hover {opacity: 0.7;}
}
@media(max-width: 1199px){
  h1,.h1 {font-size: 22px;}
  h2,.h2 {font-size: 20px;}
}
@media(max-width: 767px){
  h1,.h1 {font-size: 20px;}
  h2,.h2 {font-size: 18px;}
}

/*=============================*/
/* SIDE MENU */
/*=============================*/
.side-menu {position: fixed;z-index: 2;top: 0;left: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: var(--side-menu-width);height: 100%;overflow: auto;padding: 36px 28px;background-color: var(--color-white);box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);}
.side-menu__margin {height: var(--side-menu-height);}
.side-menu__layer {position: fixed;z-index: 1;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;visibility: hidden;background-color: rgba(0, 0, 0, 0.5);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.side-menu__layer.active {opacity: 1;visibility: visible;}
/*logo*/
.side-menu__logo {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 100%;}
.side-menu__logo a {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;}
.side-menu__logo img {position: relative;width: 195px;height: auto;}
.side-menu__version {position: relative;top: 5px;display: inline-block;font-size: 10px;font-weight: 500;letter-spacing: -0.1px;color: var(--color-grey);margin-left: 4px;}
/*navbar*/
.side-menu__navigation {position: relative;display: block;width: 100%;padding: 53px 0;}
.side-menu__navigation-item {position: relative;display: block;width: 100%;margin-bottom: 18px;}
.side-menu__navigation-item:last-child {margin-bottom: 0;}
.side-menu__navigation-link {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 100%;height: 46px;font-size: 14px;font-weight: 500;letter-spacing: -0.1px;color: var(--color-light);border-radius: 8px;padding: 0 30px 0 11px;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.side-menu__navigation-item.side-menu__navigation-item_with-arrow .side-menu__navigation-link::before {position: absolute;content: '';right: 14px;width: 6px;height: 6px;border-top: 2px solid var(--color-light);border-right: 2px solid var(--color-light);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.side-menu__navigation-icon {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 24px;min-height: 24px;height: 24px;margin-right: 14px;}
.side-menu__navigation-icon svg {position: relative;width: 100%;height: 100%;}
.side-menu__navigation-icon svg .fill {fill: var(--color-light);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.side-menu__navigation-icon svg .stroke {stroke: var(--color-light);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*navbar active*/
.side-menu__navigation-item.side-menu__navigation-item_active .side-menu__navigation-link {color: var(--color-white);background-color: var(--color-purpul);}
.side-menu__navigation-item.side-menu__navigation-item_active.side-menu__navigation-item_with-arrow .side-menu__navigation-link::before {border-color: var(--color-white);}
.side-menu__navigation-item.side-menu__navigation-item_active .side-menu__navigation-icon svg .fill {fill: var(--color-white);}
.side-menu__navigation-item.side-menu__navigation-item_active .side-menu__navigation-icon svg .stroke {stroke: var(--color-white);}
/*user*/
.side-menu__user {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 100%;margin-top: auto;}
.side-menu__user-logo {position: relative;display: block;width: 42px;min-width: 42px;height: 42px;border-radius: 50%;background-color: var(--color-light-3);overflow: hidden;margin-right: 12px;}
.side-menu__user-logo img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;-webkit-transition: all 0.7s;-o-transition: all 0.7s;transition: all 0.7s;}
.side-menu__user-info {position: relative;display: block;width: 100%;}
.side-menu__user-info a,.side-menu__user-info p {position: relative;display: block;width: 100%;font-size: 12px;letter-spacing: 0.1px;color: var(--color-text);}
.side-menu__user-info a {display: inline-block;width: auto;font-size: 14px;font-weight: 500;color: var(--color-black);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*meida*/
@media(min-width: 1200px){
  .side-menu__navigation-item:not(.side-menu__navigation-item_active) .side-menu__navigation-link:hover {color: var(--color-purpul);}
  .side-menu__navigation-item:not(.side-menu__navigation-item_active) .side-menu__navigation-link:hover::before {border-color: var(--color-purpul);}
  .side-menu__navigation-item:not(.side-menu__navigation-item_active) .side-menu__navigation-link:hover .side-menu__navigation-icon svg .fill {fill: var(--color-purpul);}
  .side-menu__navigation-item:not(.side-menu__navigation-item_active) .side-menu__navigation-link:hover .side-menu__navigation-icon svg .stroke {stroke: var(--color-purpul);}
  .side-menu__user-logo:hover img {-webkit-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05);}
  .side-menu__user-info a:hover {color: var(--color-purpul);}
}
@media(max-width: 1199px){
  .side-menu {-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;height: var(--side-menu-height);padding: 0 40px;overflow: initial;}
  .side-menu__logo {width: auto;}
  .side-menu__logo img {width: 165px;}
  .side-menu__navigation {position: fixed;top: var(--side-menu-height);right: 0;width: 450px;height: calc(100% - var(--side-menu-height));padding: 30px;background-color: var(--color-white);overflow: auto;opacity: 0;visibility: hidden;-webkit-transform: translateX(450px);-ms-transform: translateX(450px);transform: translateX(450px);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
  .side-menu__user {width: auto;margin-top: 0;margin-left: auto;}
  .side-menu__user-logo {width: 40px;min-width: 40px;height: 40px;margin-right: 10px;}
  .side-menu__user-info div {display: -webkit-box;display: -ms-flexbox;display: flex;}
  .side-menu__burger {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 28px;height: 18px;cursor: pointer;margin-left: 40px;}
  .side-menu__burger::before,.side-menu__burger::after,.side-menu__burger span {position: absolute;left: 0;display: block;width: 100%;height: 2px;background-color: var(--color-black);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
  .side-menu__burger::before {content: '';top: 0;}
  .side-menu__burger::after {content: '';bottom: 0;}
  /*active status*/
  .side-menu.active .side-menu__navigation {opacity: 1;visibility: visible;-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
  .side-menu.active .side-menu__burger span {left: 10px;opacity: 0;visibility: hidden;}
  .side-menu.active .side-menu__burger::before {top: 8px;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
  .side-menu.active .side-menu__burger::after {bottom: 8px;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
}
@media(max-width: 767px){
  .side-menu {padding: 0 20px;}
  .side-menu__logo img {width: 156px;}
  .side-menu__navigation {padding: 20px;}
  .side-menu__user-logo {width: 38px;min-width: 38px;height: 38px;}
}
@media(max-width: 575px){
  .side-menu {padding: 0 15px;}
  .side-menu__navigation {width: 100%;padding: 15px;-webkit-transform: translateX(100%);-ms-transform: translateX(100%);transform: translateX(100%);}
  .side-menu__navigation-link {height: 44px;}
}
@media(max-width: 480px){
  .side-menu__user-logo {margin: 0;}
  .side-menu__user-info {display: none;}
  .side-menu__burger {margin-left: 26px;}
}