/*Day and Year*/

.day,
.year {
	box-shadow: 0 3px 3px #b7b7b7;
	padding: 5px 15px;
}

/*Dap*/

.dap {
	padding: 20px;
}

.dap__block {
	display: flex;
	justify-content: space-around;
}

.dap__title {
	color: #1C2833;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1;
	margin: 0 0 20px 0;
	font-weight: 300;
}

.dap__repeats {
	flex: 0 0 50%;
	padding: 10px;
	box-shadow: 0 0 5px #b7b7b7;
	max-width: 600px;
}

.dap__dwell {
	flex: 0 0 50%;
	padding: 10px;
	box-shadow: 0 0 5px #b7b7b7;
	max-width: 600px;
}

.dap__subtitle {
	color: #1C2833;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.9px;
	margin: 0 0 10px 0;
}


