/*-------------------------------------------------------------------------------------------------------------------------------*/
/* BTNS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.btn-one {
	position: relative;
	display: inline-block;
	padding: 12px 30px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	border: 2px solid #000;
	border-radius: 5px;
	margin: 5px;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-one.primary {background-color: #007bff;border-color: #007bff;}
.btn-one.success {background-color: #28a745;border-color: #28a745;}
.btn-one.danger {background-color: #dc3545;border-color: #dc3545;}
.btn-one.warning {background-color: #ffc107;border-color: #ffc107;}
.btn-one.light {background-color: #f8f9fa;border-color: #f8f9fa;color: #2980b9;}
.btn-one.dark {background-color: #282828;border-color: #282828;}
.btn-one.lock {pointer-events: none;opacity: 0.6;background-color: #007bff;border-color: #007bff;}
.btn-one:active {-webkit-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px);}
/*media*/
@media(min-width: 1200px){
	.btn-one:hover {opacity: 0.8;}
	.btn-one.primary:hover {background-color: #0069d9;border-color: #0069d9;opacity: 1;}
	.btn-one.success:hover {background-color: #218838;border-color: #218838;opacity: 1;}
	.btn-one.danger:hover {background-color: #c82333;border-color: #c82333;opacity: 1;}
	.btn-one.warning:hover {background-color: #e0a800;border-color: #e0a800;opacity: 1;}
	.btn-one.light:hover {background-color: #e2e6ea;border-color: #dae0e5;opacity: 1;}
	.btn-one.dark:hover {background-color: #474747;border-color: #474747;opacity: 1;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* LINKS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

