/*-------------------------------------------------------------------------------------------------------------------------------*/
/* DATA DROPPER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
div.datedropper {
  --dd-color1: #2980b9;
  --dd-color2: #fff;
  --dd-color3: #282828;
  --dd-color4: #fff;
  --dd-radius: 6px;
  --dd-width: 180px;
  --dd-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* TIME DROPPER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
:root {
  --td-textColor: #999;
  --td-backgroundColor: #fff;
  --td-primaryColor: #282828;
  --td-displayBackgroundColor: #fff;
  --td-displayBorderColor: #2980b9;
  --td-displayBorderStyle: solid;
  --td-displayBorderWidth: 3px;
  --td-handsColor: #ecf0f1;
  --td-handleColor: #2980b9;
  --td-handlePointColor: #fff;
}