/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}

/*Header*/

.header {
	background-color: transparent;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	z-index: 50;
	padding: 20px 10%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.header.active {
	background-color: #ffffff;
	box-shadow: 0 0 10px #E8E8E8;
}

.header__logo {
	color: #60606e;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__point {
	transition: all 0.3s;
}

.header__logo:hover .header__point {
	padding-left: 20px;
	color: #7beec7;
}

.header__menu {
	width: 31px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}

.header__menu span {
	position: absolute;
	width: 15px;
	height: 1px;
	background-color: #60606e;
	left: 0;
	top: 7px;
	transition: all 0.3s;
}

.header__menu:before,
.header__menu:after {
	content: '';
	position: absolute;
	left: 0;
	background-color:#60606e;
	height: 1px;
	transition: all 0.3s;
}

.header__menu:before {
	top: 0;
	width: 31px;
}

.header__menu:after {
	width: 23px;
	bottom: 0;
}

.header__menu.active span {
	transform: scale(0);
}

.header__menu.active:before {
	top: 7px;
	width: 23px;
	transform: rotate(45deg);
}

.header__menu.active:after {
	transform: rotate(-45deg);
	bottom: 7px;
}

/*Menu */

body.lock {
	overflow: hidden;
}

.menu {
	display: none;
	overflow: auto;
	z-index: 2;
	position: relative;
}

.menu.active {
	display: block;
}

.menu:before {
	content: '';
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}

.menu__block {
	position: fixed;
	padding: 14% 10%;
	display: flex;
	width: 100%;
}

.menu__item {
	flex: 0 0 60%;
}

.menu__item--mod {
	flex: 0 0 40%;
	text-align: right;
}

.menu__title {
	color: #60606e;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.menu__title:before {
	content: '';
	width: 30px;
	height: 10px;
	background-color: #7beec7;
	position: absolute;
	top: 11px;
	z-index: -1;
}

.sub-menu__block {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0;
}

.sub-menu__item {
	flex: 0 0 50%;
}

.menu__st {
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
}

.menu__link {
    color: #60606e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.4s;
}

.menu__link:hover {
	padding: 0 0 0 20px;
	color: #7beec7;
}

.cont {
	margin: 50px 0 0 0;
}

.menu__text {
	color: #999999;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 5px 0;
}

.menu__text:last-child {
	font-weight: bold;
}

.footer__icons--mod {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 30px;
}

/*Text */

.title {
	color: #60606e;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.title:before {
	content: '';
	width: 67px;
	height: 21px;
	background-color: #7beec7;
	position: absolute;
	top: 11px;
	z-index: -1;
}

.des {
	color: #60606e;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin: 20px 0 0 0;
}