.footer {

}

.major__icon {

}

.footer__block {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}

.footer__link {
	text-transform: uppercase;
	color: grey;
	font-size: 11px;
	transition: all 0.4s;
}

.footer__link:hover {
	color: black;
}

.footer__icon {
	font-size: 20px;
	padding: 0 0 0 10px;
	position: relative;
	top: 2px;
}
