/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ROOT */
/*-------------------------------------------------------------------------------------------------------------------------------*/
:root {
  --color-white: #fff;
  --color-black: #2d3436;
  --color-blue: #2980b9;
  --color-grey: #ccc;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* FULL SCROLL */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.full-scroll {position: relative;display: block;width: 100%;overflow: hidden;scroll-behavior: smooth;}
.full-scroll-section {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: 100%;text-align: center;height: calc(100vh - 70px);}