/*Header*/

.header {
	padding: 134px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

.header__line {
	width: 108px;
	height: 1px;
	background-color: #FFFFFF;
	margin: 20px 73px 0 48px;
}

.header__des {
	max-width: 441px;
	color: #8E8E8E;
	font-family: Apercu Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 170%;
	letter-spacing: 0.11em;
	margin: 20px 0 0 0;
}
