.header {
	position: relative;
	max-width: 100%;
	z-index: 3;
}

.header.active {
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 0 10px;
	z-index: 5;
}

.header.active .menu__text {
	display: none;
}

.header.active .menu__link {
	padding: 0 15px;
}

.header.active .down {
	background-color: white;
}

.header.active .down__title {
	position: absolute;
    top: 0;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
    padding: 10px 0;
}

.header.active .down__logo {
	color: white;
	font-size: 20px;
}

.header.active .down__menu {
	padding: 10px 0;
}

/*Menu*/
.menu {
	display: flex;
	background-color: black;
	justify-content: space-between;
	align-items: center;
}

.menu__block {
	display: flex;
	justify-content: space-between;
	width: 1400px;
	margin: auto;
	padding: 12px 0;
}

.menu__link {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 30px;
	opacity: 0.7;
	transition: all 0.4s;
}

.menu__link:hover {
	opacity: 1;
}

.menu__link.active {
	opacity: 1;
}

.menu__icon {
	padding: 0 10px 0 0;
}

.menu__first {
	padding: 0 0 0 10px;
	position: relative;
	bottom: 2px;
}


/*Tab Lang*/

.tab {
	display: none;
	width: 100%;
	background-color: white;
}

.tab:target {
	display: block;
	position: absolute;
	z-index: 2;
}

.tab__head {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
}

.tab__title {
	font-size: 28px;
	text-transform: uppercase;
	color: black;
	letter-spacing: 2px;
}

.tab__cont {
	padding: 20px 0 30px 0;
	display: flex;
	justify-content: space-between;
}

.tab__block {
	flex: 0 0 25%;
}

.tab__li {
	transition: all 0.3s;
	width: 250px;
	margin: 0 0 15px 0;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.tab__a {
	text-transform: uppercase;
	color: black;
	letter-spacing: 1px;
	font-size: 13px;
	position: relative;
	width: 200px;
}

.tab__li:hover {
	background-color: #f2f2f2;
}

.tab__a .fas {
	float: right;
}

.tab__subblock {
	margin: 50px 0 0 0;
}

.tab__active {
	background-color: black;
	transition: all 0.3s;
	width: 250px;
	height: 50px;
	padding: 10px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.tab__active .tab__a {
	color: white;
}

.tab__active:hover {
	background-color: #292929;
}

.tab__des {
	font-size: 14px;
	color: #777;
	width: 80%;
	margin: 10px 0 0 0;
}

.tab__des-like {
	margin: 20px 0;
}

.tab__main {
	display: flex;
	justify-content: space-between;
}

.tab__newmain {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tab__left {
	flex: 0 0 70%;
}

.tab__right {
	flex: 0 0 30%;
	padding: 0 30px;
}

.tab__faq {
	padding: 40px 20px 0 20px;
}

.tab__submain {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 10px 0; 
}

.tab__subleft {
	flex: 0 0 50%;
}

.tab__subright {
	flex: 0 0 50%;
	padding: 10px 30px;
	position: relative;
}

.tab__all {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 12px 0;
}

.tab__label {
	text-transform: uppercase;
	font-size: 13px;
	max-width: 100px;
	letter-spacing: 1px;
}

.tab__input {
	border: 1px solid #e5e5e5;
	padding: 10px;
	width: 60%;
	color: #777;
}

.tab__search {
	padding: 20px;
	border: 1px solid #e5e5e5;
	width: 70%;
	color: #777;
	font-size: 18px;
}

.tab__input:focus,
.tab__area:focus {
	border: 1px solid black;
}

.tab__newinput {
	width: 100%;
	margin: 20px 0 20px 0;
}

.tab__area {
	border: 1px solid #e5e5e5;
	padding: 10px;
	color: #777;
	width: 100%;
}

.tab__btn {
	width: 100%;
	padding: 10px 0;
	background-color: #777;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	margin: 10px 0 0 0;
	cursor: pointer;
	transition: all 0.4s;
}

.tab__btn-user {
	background-color: black;
	padding: 10px 30px;
}

.tab__btn:hover {
	background-color: black;
}

.tab__user {
	position: absolute;
	bottom: 22px;
}

.tab__ruls {
	margin: 20px 0 0 0;
	font-size: 11px;
	color: #777;
	line-height: 15px;
}

.tab__newruls {
	margin: 10px 0 0 0;
}

.tab__newleft {
	flex: 0 0 65%;
}

.tab__newright {
	flex: 0 0 35%;
	padding: 0 100px 20px 100px;
}

.tab__form {
	padding: 20px 0;
}

.tab__newruls {
	flex: 0 0 60%;
}

.tab__newbtn {
	flex: 0 0 35%;
	height: 50px;
}

.tab__btn-right {
	width: 60%;
}

.tab__newall {
	width: 60%;
}

.tab__icons {
	margin: 20px 0 0 0;
}

.tab__p {
	margin: 0 0 10px 0;
	display: flex;
	align-items: center;
}

.tab__icon {
	font-size: 13px;
	text-transform: uppercase;
	color: black;
}

.tab__icon .fab,
.tab__icon .fas {
	font-size: 20px;
	padding: 0 10px 0 0;
	transition: all 0.4s;
	position: relative;
	top: 2.5px;
}

.tab__icon:hover .fab,
.tab__icon:hover .fas {
	color: red;
}

.tab__like {
	margin: 70px 0 20px 0;
	border: 1px solid #e5e5e5;
}

/*Close*/

.tab__item {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0 0;
}

.tab__link {
	color: #777;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 0.3s;
}

.tab__item .fas {
	font-size: 20px;
	padding: 0 0 0 10px;
	position: relative;
	top: 3px;
}

.tab__link:hover {
	color: black;
}