.body {
	flex: 0 0 93%;
}

.header {
	padding: 15px 25px;
	border-bottom: 1px solid #b7b7b7;
	color: #1C2833;
	display: flex;
	justify-content: space-between;
}

.header__title {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: -1.5px;
}

.header__theme {
	position: relative;
	transition: all 0.4s;
	cursor: pointer;
	padding: 0 0 0 70px;
}

.header__theme:before {
	content: '';
	position: absolute;	
	top: 5px;
	left: 0;
	width: 40px;
	height: 15px;
	border-radius: 20px;
	background-color: #f7f7f7;
	box-shadow: 0 0 6px #b7b7b7;
}

.header__theme:after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	border-radius: 50%;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px #b7b7b7;
	transition: all 0.6s;
}

.header__checkbox {
	display: none;
}

/*Active */

.header__theme.dark:before {
	background-color: #293846;
	box-shadow: 0 0 3px #11181f7d;
}

.header__theme.dark:after {
	left: 20px;
	background-color: #293846;
	box-shadow: 0 0 3px #11181f7d;
}
