/*-------------------------------------------------------------------------------------------------------------------------------*/
/* LEFT-RIGHT BLOCK - ONE STYLE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.left-right-one .left-right-block {position: relative;display: block;width: 100%;margin-bottom: 40px;}
.left-right-one .left-right-block:last-child {margin-bottom: 0;}
.left-right-one .left-right-block .left-right-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 55%;overflow: hidden;}
.left-right-one .left-right-block .left-right-imgs img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.left-right-one .left-right-block .left-right-cont {position: relative;display: block;width: 100%;}
.left-right-one .left-right-block .left-right-cont .medium {width: auto;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*media*/
@media(min-width: 1200px){
	.left-right-one .left-right-block .left-right-imgs:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
	.left-right-one .left-right-block .left-right-cont .medium:hover {color: #2980b9;}
}
@media(max-width: 991px){
	.left-right-one .left-right-block .left-right-cont {margin-top: 20px;}
}
@media(max-width: 767px){
	.left-right-one .left-right-block {margin-bottom: 20px;}
}
