/*-------------------------------------------------------------------------------------------------------------------------------*/
/* LEFT-RIGHT BLOCK - ONE STYLE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.left__right_one .left__right_block {position: relative;display: block;width: 100%;margin-bottom: 40px;}
.left__right_one .left__right_block:last-child {margin-bottom: 0;}
.left__right_one .left__right_block .left__right_imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 55%;overflow: hidden;}
.left__right_one .left__right_block .left__right_imgs img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.left__right_one .left__right_block .left__right_cont {position: relative;display: block;width: 100%;}
.left__right_one .left__right_block .left__right_cont .medium {width: auto;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*media*/
@media(min-width: 1200px){
	.left__right_one .left__right_block .left__right_imgs:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
	.left__right_one .left__right_block .left__right_cont .medium:hover {color: #2980b9;}
}
@media(max-width: 991px){
	.left__right_one .left__right_block .left__right_cont {margin-top: 20px;}
}
@media(max-width: 767px){
	.left__right_one .left__right_block {margin-bottom: 20px;}
}
