/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ROOT */
/*-------------------------------------------------------------------------------------------------------------------------------*/
:root {
  --color-blue: #2980b9;
  --color-black: #282828;
  --color-white: #fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MARQUEE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.marquee-block,.marquee-item {position: relative;display: block;width: 100%;}
.marquee-item {padding: 20px;border: 1px solid var(--color-blue);border-radius: 10x;overflow: hidden;margin-bottom: 20px;}
.marquee-item:last-child {margin-bottom: 0;}
.marquee-item .text {margin-bottom: 0;}