/*1300px*/
@media (max-width: 1300px) {
	.container {
		max-width: 992px;
	}
	/*Flowers*/
	.main__flo_two {
		top: 260px;
	}
	.main__flo_tree {
		top: 430px;
		left: 60%;
	}
	.main__flo_four {
		top: 580px;
	}
	/*About Collum*/
	.about__col {
		grid-column: 1/3;
	}
	.about__col:nth-child(even) {
		grid-column: 3/5;
	}
	/*Block of About Icons*/
	.about__icon_text {
		padding: 0;
	}
	.about__icon {
		padding: 0 41px;
	}
	/*Cream*/
	.cream__block {
		grid-template-columns: 1fr;
	}
	.cream__img {
		display: none;
	}
	.cream__col:last-child {
		padding: 50px 21px;
	}
	.cream__down {
		max-width: 55%;
		left: 65%;
		bottom: -15%;
	}
	.cream__des {
		max-width: 50%;
	    margin: 40px 0 50px 0;
	}
}

/*1100px*/
@media (max-width: 1099px) {
	.container {
		max-width: 768px;
	}
	.about__container {
		padding: 35px 70px 0 90px;
	}
	/*Main Content*/
	.main__block {
		padding: 30% 0 5% 10%;
	}
	.main__title {
		font-size: 70px;
	}
	/*Flowers*/
	.main__flo_one {
		max-width: 104px;
		left: 40%;
		top: 90px;
	}
	.main__flo_two {
		top: 180px;
		max-width: 110px;
		left: 50px;
	}
	.main__flo_tree {
		top: 330px;
		left: 60%;
	}
	.main__flo_four {
		top: 420px;
		max-width: 101px;
	}
	.main__flo_five {
		top: 530px;
	}
	/*Block of About Icons*/
	.about__icons_title {
		font-size: 22px;
	}
	.about__downblock {
		width: 60%;
		margin: 0 0 0 40%;
	}
	/*Services*/
	.services__block {
		grid-template-columns: 1fr 1fr;
	}
	/*Photo*/
	.photo__block {
		display: none;
	}
	/*Number*/
	.number__block {
		grid-template-columns: 1fr 1fr;
	}
	/*Offers*/
	.off__block {
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	/*Subscribe*/
	.sub__block {
		grid-template-columns: 1fr;
	}
	.sub__col:last-child {
		display: none;
	}
	/*Little */
	.little {
		padding: 50px 0 50px 45px;
	}
	.little__block {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	/*Contact*/
	.contact__col:first-child {
		padding: 70px;
	}
	.contact__cont {
		padding: 0 0 40px 0;
	}
	.contact__title {
		font-size: 30px
	}
}

/*768px*/
@media (max-width: 768px) {
	.container {
		max-width: 550px;
	}
	.about__container {
		padding: 35px 30px 0 50px;
	}
	/*Menu*/
	.menu__link {
		font-size: 20px;
	    padding: 16px 0 18px 0;
	}
	/*Main Content*/
	.main {
		background-position: center;
	}
	.main__block {
		padding: 30% 0 5% 12%;
	}
	.main__title {
		font-size: 55px;
	}
	/*Flowers*/
	.main__flo_one {
		max-width: 80px;
	    left: 50%;
	    top: 45px;
	}
	.main__flo_two {
	    top: 110px;
    	max-width: 85px;
	}
	.main__flo_tree {
		top: 240px;
	    left: 65%;
	    max-width: 75px;
	}
	.main__flo_four {
		top: 310px;
	    max-width: 75px;
	    left: 40%;
	}
	.main__flo_five {
	    top: 380px;
    	max-width: 65px;
	}
	/*About Collum*/
	.about {
		background-position: right;
	}
	.about__col {
		grid-column: 1/5;
	}
	.about__col:nth-child(even) {
		grid-column: 1/5;
	}
	.about__col:first-child {
		text-align: center;
	}
	.about__title {
		font-size: 32px;
	}
	.about__btn {
		padding: 20px 40px;
		font-size: 18px;
		display: block;
	    max-width: 300px;
	    margin: auto auto 20px auto;
	}
	/*Block of About Icons*/
	.about__downblock {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.about__downtitle {
		font-size: 42px;
	}
	.about__downdes {
		font-size: 17px;
		color: #282828;
	}
	.about__icon {
		text-align: center;
	}
	.about__icon .fas {
	    font-size: 700%;
	}
	/*Spa*/
	.spa {
		padding: 0 0 0 60px;
	}
	.spa__title {
		font-size: 70px;
	}
	.spa__btn {
		font-size: 18px;
		padding: 20px 40px;
		max-width: 300px;
	}
	/*Services*/
	.services__col {
		padding: 40px 21px;
		height: 350px;
	}
	.services__block {
		grid-template-columns: 1fr;
	}
	.services__info {
		padding: 20px 0;
		text-align: center;
	}
	.services__name {
		font-size: 22px;
	}
	.services__des {
		max-width: 300px;
		font-size: 17px;
	}
	/*Number*/
	.number__title {
		font-size: 44px;
	}
	.number__des {
		font-size: 18px;
	}
	/*Cream*/
	.cream__small {
		font-size: 30px;
	}
	.cream__title {
		font-size: 50px;
	}
	.cream__des {
		max-width: 90%;
	    margin: 40px 0 50px 0;
	    padding: 0;
	}
	.cream__btn {
		margin: 0;
		padding: 20px 40px;
		max-width: 300px;
		text-align: center;
	}
	.cream__down {
		display: none;
	}
	/*Offers*/
	.off {
		padding: 60px 0 40px 45px;
	}
	.off__block {
		grid-template-columns: 1fr;
	}
	.cont__title {
		font-size: 40px;
	}
	.cont__des {
		max-width: 500px;
		font-size: 17px;
	}
	.off__title {
		font-size: 24px; 
	}
	.off__small {
		font-size: 16px;
	}
	.off_btn {
		padding: 20px 40px;
		font-size: 18px;
		max-width: 300px;
	}
	.off__icon {
		width: 66px;
		height: 66px;
	}
	.off__icon .fas {
		font-size: 22px;
	}
	/*Subscribe*/
	.sub__form {
		margin: 0;
		max-width: 100%;
	}
	.sub__btn {
		margin: 60px auto auto auto;
		padding: 12px 60px;
		font-size: 18px;
		max-width: 300px;
	}
	.sub__icons {
		padding: 20px 0;
	}
	.sub__input {
		max-width: 70%;
	}
	/*Brand*/
	.brand {
		padding: 100px 0 0 45px;
	}
	.brand__block {
		grid-template-columns: 1fr 1fr;
	}
	/*Little */
	.little__des {
		max-width: 100%;
	}
	.little__btn {
		padding: 20px 40px;
		font-size: 18px;
		max-width: 300px;
	}
	/*Contact*/
	.contact__block {
		grid-template-columns: 1fr;
	}
	.contact__col:first-child {
		padding: 70px 20px;
		text-align: center;
	}
	.contact__col:last-child {
		display: none;
	}
	.contact__title {
		font-size: 40px;
	}
}

/*480px*/
@media (max-width: 480px) {
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: 320px;
		padding: 0;
	}
	.about__container {
	    padding: 35px 0 50px 60px;
	}
	/*Menu*/
	.menu {
        width: 100%;
   		left: -85%;
	}
	.menu__burger {
		width: 32px;
		height: 28px;
		right: 15px;
	    top: 15px;
	}
	/*Main*/
	.main__block {
	    padding: 40% 0 5% 12%;
	}
	.main__title {
		padding: 0 0 150px 0;
	}
	/*Flowers*/
	.main__flo_one {
		max-width: 70px;
	    left: 50%;
	    top: 40px;
	}
	.main__flo_two {
        top: 249px;
	    max-width: 65px;
	    left: 106px;
	}
	.main__flo_tree {
		top: 300px;
	    left: 80%;
	    max-width: 60px;
	}
	.main__flo_four {
	    top: 371px;
	    max-width: 62px;
	    left: 60%;
	}
	.main__flo_five {
        top: 420px;
	    max-width: 65px;
	    left: 30%;
	}
	/*About Collum*/
	.about__block {
		padding: 100px 0;
	}
	.about__title {
		font-size: 32px;
	}
	.about__name {
		font-size: 24px;
		margin: 20px 0;
	}
	.about__text {
		font-size: 17px;
	}
	/*Block of About Icons*/
	.about__downtitle {
		font-size: 30px;
	    line-height: 38px;
	}
	.about__downdes {
		font-size: 18px;
		padding: 0 20px 0 0;
	}
	/*Block of About Icons*/
	.about__item {
		padding: 0;
	}
	.about__icons {
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 20px 0;
	}
	.about__icon {
		grid-column: 1/4;
		text-align: center;
	}
	.about__icon_text {
		grid-column: 1/4;
		text-align: center;
	}
	/*Spa*/
	.spa__block {
		padding: 40px 0 40px 0;
	}
	.spa__title {
	    font-size: 50px;
	}
	.spa__des {
		font-size: 16px;
		max-width: 350px;
	}
	/*Services*/
	.services__info {
		padding: 20px 0 0 20px;
	}
	/*Number*/
	.number__block {
		grid-template-columns: 1fr;
	}
	.number__title {
		font-size: 70px;
	}
	.number__des {
		font-size: 22px;
	}
	/*Cream*/
	.cream {
		padding: 0 0 0 60px;
	}
	.cream__content {
		text-align: center;
		padding: 50px 0 20px 0;
	}
	.cream__des {
		margin: 40px auto 50px auto;
	}
	.cream__btn {
		margin: auto;
	}
	/*Offers*/
	.off {
		padding: 60px 0 40px 60px;
	}
	.cont__small {
		font-size: 17px;
	}
	.cont__title {
		font-size: 30px;
		max-width: 350px;
		margin: 10px auto 30px auto;
		line-height: 40px;
	}
	.cont__des {
		max-width: 300px;
		font-size: 16px;
	}
	.off__block {
		padding: 40px 0 0 0;
	}
	/*Slider*/
	.slider {
		padding: 0 0 0 60px;
	}
	.slider__text {
		font-size: 16px;
	}
	/*Subscribe*/
	.sub {
		padding: 0 0 0 60px;
	}
	.sub__input {
		max-width: 90%;
	}
	.sub__title {
		font-size: 30px;
	}
	/*Brand*/
	.brand {
		padding: 100px 0 0 60px;
	}
	.brand__block {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	/*Little */
	.little {
		padding: 50px 0 50px 60px;
	}
	/*Contact*/
	.contact {
		padding: 0 0 0 60px;
	}
	.contact__col:first-child {
		padding: 50px 20px;
	}
}