@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}

	.subscrip__input {
		width: 60%;
	}

	.dowm__left {
	    flex: 0 0 40%;
	}

	.down__right {
	    flex: 0 0 60%;
	}

	.down__right {
		padding: 0 0 0 30px;
	}

	.subscrip__des {
	    margin: 0 0 15px 0;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 800px;
	}

	.post,
	.bmenu {
		flex: auto;
	}

	.post {
		padding: 0 30px 0 0;
	}

	.adres {
		text-align: center;
	}

	.contact {
		margin: 100px 0 0 0;
	}

	.map__img {
		display: none;
	}

	.contact__item:first-child {
		padding: 40px 0 0 0;
	}

	.contact__block {
		flex-direction: column-reverse;
	}

	.texts,
	.team,
	.clients {
		margin: 100px 0 0 0;
	}

	.team__position {
	    margin: 20px 0 20px 0;
	}

	.texts__block {
		display: block;
	}

	.bar__des {
		max-width: 70%;
	}

	.clients__block {
		display: block;
	}

	.clients__item {
		margin: 0 0 50px 0;
	}

	.clients__item:last-child {
		margin: 0;
	}

	.texts__item:first-child {
		margin: 0 0 30px 0;
	}

	.do__img {
		display: none;
	}

	.do__down {
		display: block;
		margin: 50px 0 0 0;
	}

	.benefits,
	.price {
		margin: 100px 0 0 0;
	}

	.benefits__miniblock {
		display: block;
	}

	.benefits__item {
		padding: 0 30px;
		margin: 0 0 40px 0;
	}

	.price__block {
		padding: 20px 20px 40px 20px;
		margin: 0 20px 0 0;
	}

	.price__check {
		margin: 40px 0;
	}

	.menu__item--mod,
	.footer__icons--mod {
		display: none;
	} 

	.down__right {
	   	margin: 20px 0 0 0;
	   	padding: 0 0 0 50px;
	}

	.title {
		font-size: 24px;
	}

	.nav__title {
		font-size: 24px;
		margin: 0 0 20px 0;
	}

	.des {
		font-size: 14px;
	}

	.btn__block {
		margin: 20px 0 0 0;
	}

	.port {
		margin: 100px 0 0 0;
	}

	.nav {
		flex: 0 0 30%;
		padding: 0;
	}

	.subscrip__title {
		font-size: 18px;
	}

	.subscrip__input {
		width: 100%;
		margin: 0 0 10px 0;
	}

	.subscrip__btn {
		width: 100%;
	}

	.menu__item {
		flex: 0 0 70%;
	}

	.menu__item--mod {
		flex: 0 0 30%;
	}

	.about__info {
		flex: 0 0 70%;
	}

	.about__img {
		display: none;
	}

	.about__info {
	    flex: 0 0 100%;
	}

	.about__item {
		flex: 0 0 50%;
		padding: 0 20px;
		text-align: center;
	}

	.about__des {
		max-width: 100%;
	}

	.port__down {
		display: block;
		margin: 50px 0 0 0;
	}

	.nav__item {
		display: inline-block;
	}

	.nav__link {
		padding: 5px 10px;
		margin: 0;
	}

	.nav__link.active {
		padding: 5px 10px;
	}
}

@media(max-width: 767px) { 
	.container {
		max-width: none;
	}

	.blog__block {
		flex-direction: column-reverse;
	}

	.sub__block {
		display: none;
	}

	.names {
		padding: 20px;
		margin: 0;
		box-shadow: 0 0 5px #e5e5e5;
		position: relative;
	}

	.names:before,
	.names:after {
		content: '';
		width: 10px;
		height: 1px;
		background-color: #60606e;
		position: absolute;
		right: 30px;
		transition: all 0.4s;
	}

	.names:before {
		right: 23px;
		top: 25px;
		transform: rotate(-45deg);
	}

	.names:after {
		top: 25px;
		transform: rotate(45deg);
	}

	.names.active:before,
	.names.active:after {
		background-color: #7beec7;
	}

	.names.active:before {
		right: 23px;
		top: 25px;
		transform: rotate(45deg);
	}

	.names.active:after {
		top: 25px;
		transform: rotate(-45deg);
	}

	.contact,
	.blog {
		margin: 50px 0 0 0;
	}

	.pos__info {
		display: flex;
		text-align: center;
	}

	.pos__text {
		flex: 0 0 33.33%;
		text-align: center;
	}

	.search {
		margin: 0 0 40px 0 !important;
	}

	.bmenu__block {
		margin: 0;
	}

	.bmenu__block:last-child {
		margin: 0 0 60px 0;
	}

	.post {
		padding:0;
	}

	.contact__item:first-child {
		padding: 0;
	}

	.adres__des {
		max-width: 70%;
		margin: 25px auto;
	}

	.benefits__block {
		display: block;
		margin: 50px 0 0 0;
	}

	.benefits__block:last-child {
		margin: 0;
	}

	.benefits__item:last-child {
		padding: 0 30px;
		margin: 20px 0;
	}

	.do__item {
		max-width: 70%;
		margin: 0 auto;
	}

	.sub-do__block {
		flex: 0 0 50%;
	}

	.benefits__item {
		margin: 40px 0;
	}

	.team__down {
		justify-content: center;
		margin: 0 0 20px 0;
	}

	.clients__item {
		justify-content: space-around;
	}

	.team__block {
	    flex-direction: column;
	    width: auto;
	    text-align: center;
	}

	.team__item {
		margin: 0 0 20px 0;
	}

	.price__block {
		display: none;
	}

	.price__adapt {
		display: block;
	}

	.subscrip {
		margin: 0 15px;
	}

	.footer__link {
		padding: 0 10px;
	}

	.menu__block {
		padding: 20% 5%;
		display: block;
	}

	.menu__item {
		flex: 0 0 100%;
	}

	.menu__title {
		text-align: center;
	}

	.sub-menu__block {
		margin: 30px 0;
		text-align: left;
	}

	.cont {
		margin: 30px 0 0 0;
		text-align: center;
	}

	.work {
		padding: 40px 0 40px 0;
	}

	.work__block {
		display: block;
	}

	.work__item:first-child {
		margin: 0 0 40px 0;
		text-align: center;
	}

	.footer {
		padding: 30px 0;
	}

	.down {
		padding: 30px 0 0 0;
		display: block;
		text-align: center;
	}

	.dowm__left {
		display: none;
	}

	.down__right {
		padding: 0 0 150px 0;
		margin: 0;
	}

	.btn__block {
		margin: 40px 0 0 0;
		text-align: center;
	}

	.about__block {
		display: block;
		margin: 0;
	}

	.about__item {
		margin: 0 0 50px 0;
	}

	.about {
		margin: 100px 0;
	}

	.about__down {
		margin: 50px 0;
	}
}

@media(max-width: 600px) {
	.adapt-price__item:first-child {
	    padding: 40px 0 0 3%;
	}

	.adapt-price__item {
	    padding: 0 0 0 5%;
	}

	.adapt-price__block {
		padding: 20px 10px 20px 10px;
	}

	.do__item {
		max-width: 90%;
	}

	.clients__item {
		flex-direction: column;
		margin: 0;
	}

	.clients__img {
		margin: 0 0 50px 0;
	}

	.bar {
		flex-direction: column;
	}

	.bar__des {
		margin: 0 auto;
		max-width: 100%;
		text-align: center;
		padding: 0 0 20px 0;
	}
}

@media(max-width: 480px) {
	.photo {
		display: block;
	}

	.form__info {
		flex-direction: column;
	}

	.form__text,
	.form__object {
	    margin: 0 0 15px 0;
	}

	.do__item {
		max-width: 100%;
	}

	.benefits__block {
		display: block;
	}

	.benefits__item {
		margin: 0 0 30px 0;
	}

	.adapt-price__block {
		display: block;
		text-align: center;
	}

	.price__check {
		margin: 60px 0 20px 0;
	}

	.adapt-price__item {
		height: auto;
	}

	.adapt-price__item:first-child {
 	   border-right: none;
	}

	.do__item {
		text-align: center;
		display: block;
	}

	.photo__block {
		padding: 0;
	}

	.photo__img {
		width: 100%;
	}

	.work {
		margin: 50px 0 0 0;
	}

	.nav__title {
		text-align: center;
	}

	.nav__list {
		text-align: center;
	}

	.nav__item {
		padding: 0 0 15px 0;
	}

	.title {
		font-size: 18px;
	}

	.title--work {
		line-height: 30px;
	}

	.title:before {
	    height: 15px;
	    top: 6px; 
	}

	.info__title {
		font-size: 25px;
	}

	.footer__block {
		display: block;
		text-align: center;
	}

	.footer__menu {
		margin: 0 0 20px 0;
	}

	.footer__icons {
		text-align: center;
	}

	.port {
		margin: 50px 0 0 0;
	}
}
