/*Menu*/

.menu {
	padding: 61px 0 0 0;
	display: flex;
	justify-content: center;
}

.manu__item {
	display: inline-block;
}

.menu__link {
	position: relative;
	font-family: Apercu Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 151.3%;
	text-align: center;
	letter-spacing: 0.33em;
	text-transform: uppercase;
	color: #B4975A;
	margin: 0 40px;
	border-bottom: 1px solid #B4975A;
	padding: 0 0 13px 0;
}

.menu__link:before,
.menu__link:after {
	content: '';
	position: absolute;
    bottom: -15px;
    width: 40px;
    height: 18px;
    background-size: cover;
}

.menu__link:before {
    left: -38px;
	background-image: url(../images/border_left.svg);
}

.menu__link:after {
	right: -38px;
	background-image: url(../images/border_right.svg);
}

.menu__link:hover {
	border-bottom: 1px solid transparent;
}

.menu__link:hover.menu__link:before,
.menu__link:hover.menu__link:after {
	background-image: none;
}

.menu__link:focus {
	color: #FFFFFF;
	border-bottom: 1px solid transparent;
}

.menu__link:focus.menu__link:before,
.menu__link:focus.menu__link:after {
	background-image: none;
}
