/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ROOT */
/*-------------------------------------------------------------------------------------------------------------------------------*/
:root {
  --color-white: #fff;
  --color-grey: #f7f7f7;
  --color-label: #ccc;
  --color-black: #2d3436;
  --color-blue: #2980b9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* LIGHT GALLERY */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.light-gallery-block {position: relative;display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 20px;}
.light-gallery-item {position: relative;display: block;width: 100%;height: 0;padding-bottom: 100%;overflow: hidden;background-color: var(--color-black);}
.light-gallery-item img {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;will-change: transform;-webkit-transition: all 0.7s;-o-transition: all 0.7s;transition: all 0.7s;}
.lg-outer .lg-thumb {margin: 0 auto;}
.lg-outer .lg-thumb-item.active,.lg-outer .lg-thumb-item:hover {border-color: var(--color-blue);}
/*media*/
@media(min-width: 1200px){
  .light-gallery-item:hover img {-webkit-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05);}
}