/*-------------------------------------------------------------------------------------------------------------------------------*/
/* AOS Animate */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.aos {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;width: 100%;}
.aos div {position: relative;display: block;width: 24%;height: 0;padding-bottom: 20%;border-radius: 5px;}
.aos div:nth-child(1) {background-color: #f1c40f;}
.aos div:nth-child(2) {background-color: #27ae60;}
.aos div:nth-child(3) {background-color: #2980b9;}
.aos div:nth-child(4) {background-color: #e74c3c;}
/*media*/
@media(max-width: 575px){
	.aos div {width: 49%;padding-bottom: 40%;margin-top: 10px;}
	.aos div:nth-child(1),.aos div:nth-child(2) {margin-top: 0;}
}