/*-------------------------------------------------------------------------------------------------------------------------------*/
/* SWIPER MY STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*swiper block*/
.swiper-entry,.swiper-control-wrapper {position: relative;} 
.swiper-entry .swiper-container {margin-bottom: 40px;}
.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor:url(../img/swiper/drag.png) 16 9, ew-resize;}
.swiper-slide {background-size: cover; background-position: center center; position: relative;backface-visibility: hidden;}
.swiper-entry.mobile {display: none;}
/*swiper arrow*/
.swiper-button-prev,.swiper-button-next {position: absolute;left: -80px;top: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;outline: none;background-image: none;width: 40px;height: 40px;background-color: #2980b9;border: 2px solid #2980b9;border-radius: 50%;z-index: 2;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;}
.swiper-button-next {right: -80px;left: auto;}
.swiper-button-prev::before,.swiper-button-next::before {position: relative;right: -1px;content: '';width: 10px;height: 10px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;}
.swiper-button-next::before {left: -1px;right: auto;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-135deg);}
.swiper-entry .swiper-button-prev.swiper-button-disabled,.swiper-entry .swiper-button-next.swiper-button-disabled {opacity: 0.6;pointer-events: none;}
.swiper-entry .swiper-button-lock {display:none;}
/*swiper pagination*/
.swiper-pagination {position: relative;display: block;width: 100%;line-height:0;z-index:2;text-align: center;}
.swiper-pagination,.swiper-pagination-progress {height: 2px;}
.swiper-pagination-bullet {width: 10px;height: 10px;background-color: transparent;border: 1px solid #2980b9;border-radius: 50%;opacity:1;outline:none;margin-right: 40px;-webkit-transition:0.3s;-o-transition:0.3s;transition:0.3s;}
.swiper-pagination-bullet:last-child {margin-right: 0px;}
.swiper-pagination-bullet-active {background-color: #2980b9;}
.swiper-pagination-lock {display: none;}
/*swiper-banner*/
.swiper-banner .swiper-container {margin: 0;}
.swiper-banner .swiper-button-prev,.swiper-banner .swiper-button-next {left: 40px;width: 60px;height: 60px;}
.swiper-banner .swiper-button-next {left: auto;right: 40px;}
.swiper-banner .swiper-pagination {position: absolute;bottom: 40px;}
/*my swiper block*/
.swiper-block {position: relative;display: block;width: 100%;}
.swiper-block .swiper-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 60%;overflow: hidden;}
.swiper-block .swiper-imgs::before {position: absolute;content: '';z-index: 1;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.2);}
.swiper-block .swiper-imgs img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.swiper-block .swiper-cont {position: relative;display: block;width: 100%;padding: 20px 10px;border: 1px solid #eee;border-top: none;}
.swiper-block .swiper-cont .title {position: relative;display: inline-block;margin-bottom: 10px;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.swiper-block .swiper-cont .text {margin-bottom: 10px;}
/*media*/
@media(min-width: 1200px){
	.swiper-button-prev:hover,.swiper-button-next:hover {background-color: transparent;}
	.swiper-button-prev:hover::before,.swiper-button-next:hover::before {border-color: #2980b9;}
	.swiper-block .swiper-imgs:hover img {-webkit-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05);}
	.swiper-block .swiper-cont .title:hover {color: #2980b9;}
}
@media(max-width: 1366px){
	.swiper-button-prev, .swiper-button-next {display: none;}
}
@media(max-width: 1199px){
	.swiper-banner .swiper-container {margin-bottom: 40px;}
	.swiper-banner .swiper-pagination {position: relative;bottom: auto;}
}
@media(max-width: 767px){
	.swiper-entry .swiper-container {margin-bottom: 30px;}
}
@media(max-width: 575px){
	.swiper-entry.mobile {display: block;}
}
@media(max-width: 480px){
	.swiper-pagination-bullet {margin-right: 20px;}
}