/*Slider Number*/

.number {
	position: absolute;
	bottom: -57px;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
}

.number__slider {
	display: flex;
	color: #FFFFFF;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 99.5604px;
	line-height: 151.3%;
	letter-spacing: 0.33em;
	text-transform: uppercase;
}

.number__num {
	color: #FFFFFF;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 44.5604px;
	line-height: 151.3%;
	letter-spacing: 0.33em;
	text-transform: uppercase;
    margin: 40px 0 0 0;
}

.slick-dots{
	display: flex;
}

.slick-dots li{}

.slick-dots li.slick-active button{
	display: block;
}

.slick-dots li button{
	display: none;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 99.5604px;
	line-height: 151.3%;
	letter-spacing: 0.33em;
	text-transform: uppercase;
}
