/*-------------------------------------------------------------------------------------------------------------------------------*/
/* POPUPS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.open-popup {cursor: pointer;}
.popup-wrapper {position: fixed; z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-o-transition-delay: 0.3s;transition-delay: 0.3s;-webkit-transition-delay: 0.3s;}
.popup-wrapper.active {left: 0; transition-delay: 0s; -webkit-transition-delay: 0s;}
.popup-wrapper .bg-layer {position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;background: rgba(0, 0, 0, 0.7);-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;opacity: 0;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: auto;-webkit-overflow-scrolling: touch;font-size: 0;text-align: center;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transform: translateY(100px);transform: translateY(100px);-webkit-transform: translateY(100px);opacity: 0;visibility: hidden;padding: 15px;letter-spacing: 0;}
.popup-content.active {-ms-transform: translateY(0);transform: translateY(0);-webkit-transform: translateY(0);opacity: 1;visibility: visible;}
.popup-content:after {display: inline-block; vertical-align: middle; height: 100%; content: "";}
.popup-content .layer-close {position: absolute; left: 0; bottom: 0; right: 0; height: 10000px;}
.popup-container {display:inline-block;vertical-align:middle;width:100%;position:relative;background:#fff;border-radius: 5px;max-width:800px;z-index: 1;}
.popup-align {position:relative;padding: 60px 100px;}
.popup-align .text {margin-bottom: 5px;font-size: 16px;color: #282828;}
.popup-align .text:last-child {margin-bottom: 0;}
.popup-align span {font-size: 16px;color: #282828;}
.popup-align .text a {color: #2980b9;font-weight: 300;}
.popup-align .text a::before {background-color: #2980b9;bottom: 0;height: 1.5px;width: 0;left: auto;right: 0;}
/* sorry popup */
.popup-container.sorry {max-width: 600px;}
.popup-align.sorry {padding: 60px 40px;}
/* acc popups */
.popup-container.acc {max-width: 500px;}
.popup-align.acc {padding: 32px;}
.popup-align.acc .title {text-align: left;margin-bottom: 10px;}
.popup-align.acc div.text {text-align: left;}
form {position: relative;display: block;width: 100%;text-align: left;margin-top: 20px;}
form .input {position: relative;display: block;width: 100%;font-size: 16px;font-weight: 300;letter-spacing: 1px;color: #282828;margin-bottom: 20px;padding: 18px 20px;border: 1px solid #ecf0f1;border-radius: 5px;background-color: transparent;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;}
form .input::placeholder {color: #8c98a4;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;}
form .input:focus {border: 1px solid #2980b9;}
form .input.invalid {border: 1px solid #c23616;}
form .input.invalid::placeholder {color: #c23616;}
form textarea.input {height: 125px;resize: none;}
.popup-align.acc form button {display: block;width: 100%;margin: 20px 0;background-color: #2980b9;color: #fff;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/* subcribe popup */
.popup-align.sub form {text-align: center;}
.popup-align.sub .btn {margin: 0;}
/*media*/
@media(min-width: 1200px){
	.popup-align .text a:hover::before {width: 100%;right: auto;left: 0;}
	.popup-align.acc form button:hover {background-color: #24638d;border-color: #24638d;}
}
@media(max-width: 1366px){
	.popup-align {padding: 60px 80px;}
	.popup-align.sorry {padding: 60px;}
}
@media(max-width: 767px){
	.popup-align,.popup-align.sorry {padding: 40px;}
	.popup-align.acc {padding: 30px;}
	/* acc popups */
	form .input {padding: 15px;}
}
@media(max-width: 575px){
	.popup-align,.popup-align.sorry {padding: 40px 10px;}
	.popup-align .text,.popup-align span {font-size: 15px;}
	/* acc popups */
	form .input {font-size: 15px;padding: 12px 10px;} 
	form textarea.input {height: 100px;}
	form button.btn {display: block;width: 100%;}
	.popup-align.acc .title {margin-bottom: 5px;}
}
@media(max-width: 400px){
	.popup-align.acc {padding: 20px;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* VIDEO POPUP */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.video-popup{position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-webkit-transition-delay: 0.3s;transition-delay: 0.3s;letter-spacing: 0;}
.video-popup.active{left: 0;-webkit-transition-delay: 0s;transition-delay: 0s;}
.video-popup-overlay{position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;background: rgba(0, 0, 0, 0.8);-webkit-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;opacity: 0;}
.video-popup.active .video-popup-overlay{opacity: 1;}
.video-popup-content{position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: hidden;-webkit-overflow-scrolling: touch;font-size: 0;text-align: center;-webkit-transition: all 0.4s ease-out;transition: all 0.4s ease-out;-webkit-transform: translateY(100px);transform: translateY(100px);opacity: 0;visibility: hidden;}
.video-popup.active .video-popup-content{-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;visibility: visible;}
.video-popup-content:after{content:"";display: inline-block;height: 100%;vertical-align: middle;}
.video-popup-container{display: inline-block;position: relative;text-align: left;background: #000;vertical-align: middle;max-width: 1200px;width: 100%;}
.video-popup-layer{position: absolute;left: 0;bottom: 0;right: 0;height: 10000px;}
.video-popup-align{overflow: hidden;max-height: 100vh;}
.video-popup .embed-responsive-16by9{padding-bottom: 56.3%;}
.video-popup iframe {width: 100%;height: 100%;position: absolute;}
/*media*/
@media(max-width: 1366px){
	.video-popup-container {width: 90%;}
}