.menu {
	flex: 0 0 7%;
	height: 100vh;
	box-shadow: 0 0 10px #b7b7b7;
	text-align: center;
	color: #1C2833;
	position: relative;
}

/*Logo*/

.menu__logos {
	padding: 33px 0;
	border-bottom: 1px solid #b7b7b7;
}

.menu__logo {
	color: #1C2833;
	font-size: 45px;
}

.menu__logo .fab {
	width: 61px;
	height: 61px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	transition: all 0.4s;
}

.menu__logo .fab:hover {
	transform: rotateZ(60deg);
}

/*Menu*/

.menu__block {
	text-align: left;
}

.menu__list {
	text-align: center;
}

.menu__item {
	padding: 20px 0;
	transition: all 0.4s;
}

.menu__link {
	color: #1C2833;
	transition: all 0.4s;
}

.menu__icon {
	font-size: 22px;
}

.menu__des {
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	margin: 5px 0 0 0;
}

/*User*/

.menu__down {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #b7b7b7;
	width: 100%;
}

.menu__user {
	padding: 15px 0;
	border-bottom: 1px solid #b7b7b7;
}

.menu__photo {
	max-width: 100%;
}	

.menu__name {
	margin: 10px 0 0 0;
	font-family: Lato;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

}

/*Meta */

.menu__metas {
	display: flex;
	justify-content: space-around;
}

.menu__meta {
	padding: 15px 0;
	flex: 0 0 50%;
}

.menu__meta:first-child {
	border-right: 1px solid #b7b7b7;
}

.menu__end {
	color: #1C2833;
}

/*Hover*/

.menu__item:hover {
	background-color: #d6d6d6;
}
.menu__item:hover .menu__link {
	color: #1C2833;
}
