/*-------------------------------------------------------------------------------------------------------------------------------*/
/* SIMPLE BLOCK */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.simple-block-one {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.simple-block-one .simple-item {position: relative;display: block;width: 32%;margin-right: 2%;border: 1px solid #ecf0f1;margin-top: 40px;}
.simple-block-one .simple-item:nth-child(1),.simple-block-one .simple-item:nth-child(2),.simple-block-one .simple-item:nth-child(3) {margin-top: 0;}
.simple-block-one .simple-item:nth-child(3n) {margin-right: 0;}
.simple-block-one .simple-item .simple-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 100%;overflow: hidden;}
.simple-block-one .simple-item .simple-imgs img {position: absolute;top: 0;left: 0;width: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.simple-block-one .simple-item .simple-cont {position: relative;display: block;width: 100%;padding: 20px;}
.simple-block-one .simple-item .simple-cont .medium {width: auto;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.simple-block-one .simple-item .simple-cont .text {margin-bottom: 20px;}
.simple-block-one .simple-item .simple-cont .btn {margin: 0;}
/*style-2*/
.simple-block-two {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.simple-block-two .simple-item {position: relative;display: block;width: 49%;margin-right: 2%;border: 1px solid #ecf0f1;margin-top: 40px;}
.simple-block-two .simple-item:nth-child(1),.simple-block-two .simple-item:nth-child(2) {margin-top: 0;}
.simple-block-two .simple-item:nth-child(2n) {margin-right: 0;}
.simple-block-two .simple-item .simple-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 65%;overflow: hidden;}
.simple-block-two .simple-item .simple-imgs img {position: absolute;top: 0;left: 0;width: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.simple-block-two .simple-item .simple-cont {position: relative;display: block;width: 100%;padding: 20px;}
.simple-block-two .simple-item .simple-cont .medium {width: auto;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.simple-block-two .simple-item .simple-cont .text {margin-bottom: 20px;}
.simple-block-two .simple-item .simple-cont .btn {margin: 0;}
/*style-3*/
.simple-block-tree {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.simple-block-tree .simple-item {position: relative;display: block;width: 49%;margin-right: 2%;height: 100%;}
.simple-block-tree .simple-item:nth-child(1),.simple-block-two .simple-item:nth-child(2) {margin-top: 0;}
.simple-block-tree .simple-item:nth-child(2n) {margin-right: 0;padding-top: 60px;}
.simple-block-tree .simple-item .simple-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 65%;overflow: hidden;}
.simple-block-tree .simple-item .simple-imgs img {position: absolute;top: 0;left: 0;width: 100%;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.simple-block-tree .simple-item .simple-cont {position: relative;display: block;width: 100%;padding: 20px;border: 1px solid #ecf0f1;border-top: none;}
.simple-block-tree .simple-item .simple-cont .medium {width: auto;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.simple-block-tree .simple-item .simple-cont .text {margin-bottom: 20px;}
.simple-block-tree .simple-item .simple-cont .btn {margin: 0;}
/*media*/
@media(min-width: 1200px){
	.simple-block-one .simple-item .simple-imgs:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
	.simple-block-one .simple-item .simple-cont .medium:hover {color: #2980b9;}
	/*style-2*/
	.simple-block-two .simple-item .simple-imgs:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
	.simple-block-two .simple-item .simple-cont .medium:hover {color: #2980b9;}
	/*style-3*/
	.simple-block-tree .simple-item .simple-imgs:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
	.simple-block-tree .simple-item .simple-cont .medium:hover {color: #2980b9;}
}
@media(max-width: 1366px){
	/*style-3*/
	.simple-block-tree .simple-item:nth-child(2n) {padding-top: 40px;}
}
@media(max-width: 991px){
	.simple-block-one .simple-item {width: 49%;}
	.simple-block-one .simple-item:nth-child(3n) {margin-right: 2%;}
	.simple-block-one .simple-item:nth-child(2n) {margin-right: 0;}
	.simple-block-one .simple-item:nth-child(3) {margin-top: 40px;}
	/*style-2*/
	.simple-block-two {margin-top: 20px;}
	.simple-block-two .simple-item .simple-imgs {padding-bottom: 100%;}
	/*style-3*/
	.simple-block-tree {margin-top: 20px;}
	.simple-block-tree .simple-item:nth-child(2n) {padding-top: 20px;} 
	.simple-block-tree .simple-item .simple-imgs {padding-bottom: 100%;}
}
@media(max-width: 767px){
	.simple-block-one .simple-item {margin-top: 20px;width: 100%;margin-right: 0;}
	.simple-block-one .simple-item:nth-child(2),.simple-block-one .simple-item:nth-child(3) {margin-top: 20px;}
	.simple-block-one .simple-item:nth-child(3n) {margin-right: 0;}
	/*style-2*/
	.simple-block-two .simple-item {width: 100%;margin-right: 0;margin-top: 20px;}
	.simple-block-two .simple-item:nth-child(2) {margin-top: 20px;}
	/*style-3*/
	.simple-block-tree .simple-item {width: 100%;margin-right: 0;margin-top: 20px;}
	.simple-block-tree .simple-item:nth-child(2n) {padding-top: 0;}
	.simple-block-tree .simple-item:nth-child(2) {margin-top: 20px;}
}
@media(max-width: 480px){
	.simple-block-one .simple-item .simple-cont {padding: 10px;}
	.simple-block-one .simple-item .simple-cont .btn {display: block;width: 100%;text-align: center;}
	/*style-2*/
	.simple-block-two .simple-item .simple-cont {padding: 10px;}
	.simple-block-two .simple-item .simple-cont .btn {display: block;width: 100%;text-align: center;}
	/*style-3*/
	.simple-block-tree .simple-item .simple-cont {padding: 10px;}
	.simple-block-tree .simple-item .simple-cont .btn {display: block;width: 100%;text-align: center;}
}

