@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif !important;
  min-width: 320px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 1320px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 0 0;
  color: #FFFFFF;
  z-index: 50;
}

.header .burger {
  display: none;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo .logo__img {
  width: 100%;
  height: 60px;
}

.header .logo .logo__text {
  width: 100px;
  padding: 0 0 0 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
}

.header .logo .logo__text a {
  color: #FFFFFF;
}

.header .menu {
  width: 663px;
  margin: 0 158px 0 63px;
}

.header .menu .manu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .manu__list .menu__item {
  padding: 0 48px 0 0;
}

.header .menu .manu__list .menu__item:last-child {
  padding: 0;
}

.header .menu .manu__list .menu__item .menu__link {
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .menu .manu__list .menu__item .menu__link:hover {
  color: #6D7289;
}

.header .menu .manu__list .menu__item .menu__link_active {
  color: #6D7289;
}

.header .menu.active {
  display: block;
  width: auto;
}

.header .menu.active::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #010102;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header .menu.active .manu__list {
  padding: 70px 40px 40px 40px;
  position: fixed;
  width: 100%;
  left: 0;
  display: block;
}

.header .menu.active .manu__list .menu__item {
  margin: 0 0 40px 0;
}

.header .menu.active .manu__list .menu__item:last-child {
  margin: 0;
}

.header .menu.active .manu__list .menu__item .menu__link {
  font-size: 24px;
}

.header .menu.active .manu__list .btn__link {
  font-size: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .menu.active .manu__list .btn__link:hover {
  color: #6D7289;
}

.header .menu.active .manu__list .btn__link .btn__img {
  width: 20px;
  margin: 0 0 0 12px;
  position: relative;
  top: 1px;
}

.header .menu.active .manu__list .btn__link_blue {
  color: #fff;
  padding: 8px 12px !important;
  background: #4239ff;
  border-radius: 4px;
  margin: 40px 0 0 0;
}

.header .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .btn .btn__link {
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 44px 0 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .btn .btn__link:last-child {
  padding: 0;
}

.header .btn .btn__link:hover {
  color: #6D7289;
}

.header .btn .btn__link .btn__img {
  width: 12.5px;
  height: 12.5px;
  opacity: 0.4;
  margin: 0 0 0 10px;
}

.header__fix {
  position: fixed;
  background-color: #010102;
  border-bottom: 1px solid #6d7289;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  padding: 5px 0;
  width: 100%;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  background-image: url(../images/main_bg.jpg);
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .main__text {
  padding: 293px 0 12px 0;
}

.main .main__text .main__title {
  font-size: 52px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 12px 0;
}

.main .main__text .main__title:last-child {
  margin: 0;
}

.main .main__text .main__title .title__white {
  color: #000000;
  background-color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
}

.main .main__btns {
  text-align: center;
  margin: 64px 0 0 0;
}

.main .main__btns .main__btn {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  background: #4239FF;
  -webkit-box-shadow: 0px 4px 16px rgba(66, 57, 255, 0.2);
          box-shadow: 0px 4px 16px rgba(66, 57, 255, 0.2);
  border-radius: 4px;
  padding: 15px 0;
}

.about {
  background-color: #010102;
  text-align: center;
  color: #ffffff;
  padding: 160px 0;
}

.about .about__des {
  padding: 40px 0 0 0;
  font-size: 28px;
  line-height: 150%;
  width: 720px;
  margin: auto;
}

.more {
  padding: 160px 0;
  width: 1200px;
  margin: auto;
  text-align: center;
  color: #010102;
}

.more .more__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0 0;
}

.more .more__block .more__card {
  margin: 0 60px 0 0;
  width: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 90px rgba(16, 16, 16, 0.1);
          box-shadow: 0px 4px 90px rgba(16, 16, 16, 0.1);
  border-radius: 4px;
}

.more .more__block .more__card:last-child {
  margin: 0;
}

.more .more__block .more__card .more__head {
  position: relative;
}

.more .more__block .more__card .more__head .more__img {
  width: 100%;
  height: auto;
}

.more .more__block .more__card .more__head .more__icons {
  position: absolute;
  bottom: -30px;
  left: 32px;
}

.more .more__block .more__card .more__head .more__icons .more__icon {
  width: 60px;
  height: 60px;
}

.more .more__block .more__card .more__cont {
  padding: 62px 32px 32px 32px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more .more__block .more__card .more__cont:hover {
  background-color: #4239FF;
}

.more .more__block .more__card .more__cont:hover .more__title,
.more .more__block .more__card .more__cont:hover .more__des {
  color: #FFFFFF;
}

.more .more__block .more__card .more__cont:hover .link .link__text {
  text-decoration: underline;
  color: #FFFFFF;
}

.more .more__block .more__card .more__cont .more__info {
  height: 142px;
}

.more .more__block .more__card .more__cont .more__info .more__title {
  width: 210px;
  margin: 0 0 10px 0;
  font-size: 30px;
  line-height: 120%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more .more__block .more__card .more__cont .more__info .more__des {
  font-size: 20px;
  line-height: 150%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more .more__block .more__card .more__cont .link {
  padding: 74px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more .more__block .more__card .more__cont .link .link__icon {
  font-size: 14px;
  padding: 0 17px 0 0;
}

.more .more__block .more__card .more__cont .link .link__text {
  font-size: 20px;
  line-height: 150%;
  color: #4239FF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.title__text {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  margin: 0 0 40px 0;
  font-family: 'Montserrat', sans-serif;
}

.title__text .title__white {
  color: #000000;
  background-color: #ffffff;
  padding: 0 8px;
  border-radius: 4px;
}

.title__text .title__black {
  background-color: #010102;
  padding: 0 8px;
  border-radius: 4px;
  color: #ffffff;
}

.line {
  margin: auto;
  width: 60px;
  height: 2px;
  background: #4239FF;
  -webkit-box-shadow: -2px 4px 6px rgba(66, 57, 255, 0.08);
          box-shadow: -2px 4px 6px rgba(66, 57, 255, 0.08);
  border-radius: 100px;
}

@media (max-width: 1439px) {
  .main {
    height: 600px;
  }

  .main .main__text {
    padding: 217px 0 0 0;
  }

  .container {
    max-width: 1160px;
  }

  .header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .btn .btn__link {
    font-size: 13px;
  }

  .header .btn .btn__link_blue {
    color: #ffffff;
    padding: 8px 12px !important;
    background: #4239FF;
    border-radius: 4px;
  }

  .header .menu {
    margin: 0 50px 0 42px;
  }

  .header .menu .manu__list .menu__item {
    padding: 0 28px 0 0;
  }

  .header .menu .manu__list .menu__item:last-child {
    padding: 0;
  }

  .header .menu .manu__list .menu__item .menu__link {
    font-size: 13px;
  }
}

@media (max-width: 1279px) {
  .main {
    height: 500px;
  }

  .main .main__text {
    padding: 135px 0 0 0;
  }

  .main .main__btns {
    margin: 44px 0 0 0;
  }

  .container {
    max-width: 944px;
  }

  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 5%;
  }

  .header .menu {
    display: none;
  }

  .header .btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .header .btn .btn__link_blue {
    display: block;
    font-size: 18px;
  }

  .header .burger {
    display: block;
    width: 24px;
    height: 12px;
    margin: 0 49px 0 0;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .header .burger::before,
  .header .burger::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    width: 24px;
    height: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header .burger::before {
    top: 10px;
  }

  .header .burger::after {
    bottom: 10px;
  }

  .header .burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 5px;
  }

  .header .burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }

  .more {
    max-width: 944px;
  }

  .more .more__block .more__card {
    margin: 0 40px 0 0;
    max-width: 288px;
  }

  .more .more__block .more__card:last-child {
    margin: 0;
  }

  .more .more__block .more__card .more__head .more__img {
    height: 240px;
  }
}

@media (max-width: 1024px) {
  .main .main__text {
    padding: 149px 0 0 0;
    font-size: 42px;
    line-height: 120%;
  }

  .main .main__btns {
    margin: 40px 0 0 0;
  }

  .container {
    max-width: 688px;
  }

  .about {
    padding: 120px 0;
  }

  .more {
    max-width: 688px;
  }

  .more .more__block {
    display: block;
  }

  .more .more__block .more__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 688px;
    height: 240px;
    max-width: 100%;
    margin: 0 0 40px 0;
  }

  .more .more__block .more__card:last-child {
    margin: 0;
  }

  .more .more__block .more__card .more__head .more__icons {
    top: 32px;
    right: -30px;
    bottom: auto;
    left: auto;
  }

  .more .more__block .more__card .more__head .more__img {
    width: 288px;
  }

  .more .more__block .more__card .more__cont {
    padding: 32px 32px 32px 48px;
    width: 100%;
  }

  .more .more__block .more__card .more__cont .more__info {
    height: 106px;
  }

  .more .more__block .more__card .more__cont .more__info .more__title {
    width: 100%;
  }

  .more .more__block .more__card .more__cont .link {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }

  .main .main__text {
    padding: 158px 0 0 0;
  }

  .main .main__text .main__title {
    font-size: 34px;
    margin: 0;
    line-height: 140%;
  }

  .main .main__btns {
    margin: 36px 0 0 0;
  }

  .main .main__btns .main__btn {
    font-size: 18px;
  }

  .title__text {
    font-size: 28px;
  }

  .about .about__des {
    font-size: 24px;
    width: 100%;
  }

  .more {
    padding: 163px 0 120px 0;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
  }

  .header .burger {
    margin: 0 20px 0 0;
  }

  .header .btn .btn__link_blue {
    font-size: 14px;
  }

  .more {
    max-width: 400px;
  }

  .more .more__block .more__card {
    display: block;
    width: 343px;
    height: 100%;
    margin: auto auto 40px auto;
  }

  .more .more__block .more__card:last-child {
    margin: auto;
  }

  .more .more__block .more__card .more__head .more__icons {
    top: auto;
    right: auto;
    bottom: -20px;
    left: 16px;
  }

  .more .more__block .more__card .more__head .more__icons .more__icon {
    width: 40px;
    height: 40px;
  }

  .more .more__block .more__card .more__head .more__img {
    width: 343px;
    height: 286px;
  }

  .more .more__block .more__card .more__cont {
    padding: 40px 24px 20px 16px;
  }

  .more .more__block .more__card .more__cont .more__info {
    height: 93px;
  }

  .more .more__block .more__card .more__cont .more__info .more__title {
    font-size: 24px;
  }

  .more .more__block .more__card .more__cont .more__info .more__des {
    font-size: 18px;
  }

  .more .more__block .more__card .more__cont .link {
    padding: 78px 0 0 0;
  }
}

@media (max-width: 480px) {
  .main {
    height: auto;
  }

  .main .main__text {
    text-align: center;
    padding: 150px 0 0 0;
  }

  .main .main__btns {
    padding: 30px 0;
    margin: 0;
  }

  .container {
    max-width: 300px;
  }

  .header {
    padding: 15px;
    display: block;
  }

  .header .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .logo .burger {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .header .btn {
    margin: 10px 0 0 0;
    display: none;
  }

  .about {
    padding: 80px 0;
  }

  .about .about__des {
    font-size: 20px;
  }

  .title__text {
    font-size: 23px;
  }

  .more {
    padding: 80px 0;
    max-width: 300px;
  }

  .more .more__block .more__card .more__head .more__img {
    width: 100%;
    height: 100%;
  }
}

.webp .main{ background-image: url(../images/main_bg.webp); }