/*-------------------------------------------------------------------------------------------------------------------------------*/
/* BLUE THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.blue::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.blue::-webkit-scrollbar-thumb{background: #073995;}
/*header*/
body.blue header {background-color: #0652DD;box-shadow: 0 2px 5px #0652DD;}
body.blue header .btn {color: #fff;background-color: #073995;}
body.blue header .header__logo {color: #fff;}
/*settings*/
body.blue .sett {background-color: #fff;}
body.blue .sett .sett__btn {background-color: #0652DD;}
body.blue .sett .sett__btn .fas {color: #fff;}
body.blue .sett h6 {color: #282828;}
/*media*/
@media(min-width: 1200px){
	body.blue header .btn:hover {background-color: #fff;color: #073995;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* WHITE THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.white::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.white::-webkit-scrollbar-thumb{background: #7f8c8d;}
/*header*/
body.white header {background-color: #fff;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}
body.white header .btn {color: #282828;background-color: #fff;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}
body.white header .header__logo {color: #282828;}
/*settings*/
body.white .sett {background-color: #fff;}
body.white .sett .sett__btn {background-color: #ecf0f1;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}
body.white .sett .sett__btn .fas {color: #282828;}
body.white .sett h6 {color: #282828;}
/*media*/
@media(min-width: 1200px){
	body.white header .btn:hover {background-color: #ecf0f1;color: #282828;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* DARK THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.dark::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.dark::-webkit-scrollbar-thumb{background: #2d3436;}
/*header*/
body.dark header {background-color: #1e272e;box-shadow: 0 2px 5px #1e272e;}
body.dark header .btn {color: #fff;background-color: #2d3436;}
body.dark header .header__logo {color: #fff;}
/*settings*/
body.dark .sett {background-color: #fff;}
body.dark .sett .sett__btn {background-color: #1e272e;}
body.dark .sett .sett__btn .fas {color: #fff;}
body.dark .sett h6 {color: #2d3436;}
/*media*/
@media(min-width: 1200px){
	body.dark header .btn:hover {background-color: #fff;color: #2d3436;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* PURPLE THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.purple::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.purple::-webkit-scrollbar-thumb{background: #40407a;}
/*header*/
body.purple header {background-color: #2c2c54;box-shadow: 0 2px 5px #2c2c54;}
body.purple header .btn {color: #fff;background-color: #40407a;}
body.purple header .header__logo {color: #fff;}
/*settings*/
body.purple .sett {background-color: #fff;}
body.purple .sett .sett__btn {background-color: #2c2c54;}
body.purple .sett .sett__btn .fas {color: #fff;}
body.purple .sett h6 {color: #2d3436;}
/*media*/
@media(min-width: 1200px){
	body.purple header .btn:hover {background-color: #fff;color: #40407a;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* RED THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.red::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.red::-webkit-scrollbar-thumb{background: #c0392b;}
/*header*/
body.red header {background-color: #e74c3c;box-shadow: 0 2px 5px #e74c3c;}
body.red header .btn {color: #fff;background-color: #c0392b;}
body.red header .header__logo {color: #fff;}
/*settings*/
body.red .sett {background-color: #fff;}
body.red .sett .sett__btn {background-color: #c0392b;}
body.red .sett .sett__btn .fas {color: #fff;}
body.red .sett h6 {color: #2d3436;}
/*media*/
@media(min-width: 1200px){
	body.red header .btn:hover {background-color: #fff;color: #c0392b;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* BIR THEMES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*scrollbar*/
body.bir::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.1);}
body.bir::-webkit-scrollbar-thumb{background: #18826e;}
/*header*/
body.bir header {background-color: #16a085;box-shadow: 0 2px 5px #16a085;}
body.bir header .btn {color: #fff;background-color: #18826e;}
body.bir header .header__logo {color: #fff;}
/*settings*/
body.bir .sett {background-color: #fff;}
body.bir .sett .sett__btn {background-color: #18826e;}
body.bir .sett .sett__btn .fas {color: #fff;}
body.bir .sett h6 {color: #2d3436;}
/*media*/
@media(min-width: 1200px){
	body.bir header .btn:hover {background-color: #fff;color: #18826e;}
}
