/*-------------------------------------------------------------------------------------------------------------------------------*/
/* TYPED BLOCK */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.typed-block {position: relative;display: block;width: 100%;}
.typed-element,.typed-cursor {color: #2980b9;}
.typed-element {font-weight: 600;}