/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ROOT */
/*-------------------------------------------------------------------------------------------------------------------------------*/
:root {
  --color-white: #fff;
  --color-black: #2d3436;
  --color-blue: #2980b9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* WAVE SURFER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
