/*White Theme*/

.main.dark {
	background-color: #1C2833;
	transition: all 0.4s;
}

.main.dark .menu__logo {
	color: #f7f7f7;
}

.main.dark .menu {
	box-shadow: 0 0 10px #11181f;
	color: #f7f7f7;
}

.main.dark .menu__logos {
	border-bottom: 1px solid #11181f7d;
}

.main.dark .menu__down {
	border-top: 1px solid #11181f7d;
}

.main.dark .menu__link {
	color: #f7f7f7;
}

.main.dark .menu__user {
	border-bottom: 1px solid #11181f7d;
}

.main.dark .menu__meta:first-child {
	border-right: 1px solid #11181f7d;
}

.main.dark .menu__end {
	color: #f7f7f7;
}

.main.dark .menu__item:hover {
	background-color: #d6d6d6;
}
.main.dark .menu__item:hover .menu__link {
	color:  #1C2833;
}

/*Header */

.main.dark .header {
	border-bottom: 1px solid #11181f7d;
	color: #f7f7f7;
}

/*Analutics */

.main.dark .day,
.main.dark .year {
	box-shadow: 0 3px 3px #11181f7d;
}

/*Dap*/

.main.dark .dap__title {
	color: #f7f7f7;
}

.main.dark .dap__repeats {
	box-shadow: 0 0 5px#11181f7d;
}

.main.dark .dap__dwell {
	box-shadow: 0 0 5px #11181f7d;
}

.main.dark .dap__subtitle {
	color: #f7f7f7;
}
