.work {
	max-width: 100%;
	background-color: #7beec7;
	padding: 40px 0 45px 0;
	margin: 120px 0  0 0;
}

/*Work Block */

.work__block {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.work__item {
	flex: 0 0 50%;
}

.title--work {
	color: #ffffff;
	margin: 0 0 35px 0;
	line-height: 48px;
}

.work__btn {
	color: #7beec7;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 19px 31px;
	background-color: #ffffff;
	transition: all 0.3s;
	border: 1px solid transparent;
}

.work__btn:hover {
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
}

/*Subscrip*/

.subscrip {
	padding: 15px 30px;
	background-color: #ffffff;
	margin: 10px 0 0 10px;
}

.subscrip__title {
	color: #60606e;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}

.subscrip__des {
	color: #999999;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 25px 0;
}

.subscrip__input {
	padding: 18px 15px;
	color: #cdcdcd;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	width: 70%;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.subscrip__input:focus {
	border: 1px solid #7beec7;
}

.subscrip__btn {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 17px 46px;
	background-color: #7beec7;
	cursor: pointer;
	transition: all 0.3s;
	border: 1px solid transparent;
}

.subscrip__btn:hover {
	background-color: transparent;
	color: #7beec7;
	border: 1px solid #7beec7;
}