.first {
	padding: 30px 0 12% 0;
	width: 100%;
	display: flex;
}

.first__saw {
	position: absolute;
	left: -10%;
	top: 0%;
}

/*Left */

.first__left {
	width: 40%;
	position: relative;
	padding: 90px 0;
}

.first__info {
	width: 40%;
	padding-left: 50%;
	padding-top: 15%;
	margin: 0;
}

.first__info .first__title {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 6px;
	font-family: 'Rubik Mono One', sans-serif;
	z-index: 1;
	margin: 0;
}

.first__info .first__des {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.first__info .first__arrow {
	padding-left: 9%;
	transition: all 0.5s;
}

.first__left .first__play {
	position: absolute;
	right: -6%;
	top: 2%;
	z-index: 1;
}

/*Right */

.first__right {
	width: 60%;
} 

.first__right .first__back {
	background-image: url(images/first_right.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}