*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    min-width: 320px;
}

body a:hover {
    text-decoration: none;
}

/* Block 1 */

.block_1 {
    background-color: black;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head_fix {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-bottom: 15px;
}

.head_fix .logo {
    text-align: left;
    padding-left: 5%;
}

.head_fix .menu {
    padding-left: 3%;
}

.header {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

.logo {
    width: 30%;
    text-align: center;
}

.menu {
    width: 70%;
    text-align: right;
    margin-right: 5%;
}

.menu span {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #81868e;
    margin: 0 8px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.menu span:hover {
    color: white;
}

.block_1_des {
    width: 100%;
    text-align: center;
    padding-top: 22%;
    padding-bottom: 18%;
}

.block_1_des h1 {
    font-size: 30px;
    letter-spacing: 51px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.block_1 p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #81868e;
    font-weight: 400;
    margin: 0 auto;
    width: 35%;
    line-height: 30px;
}

.block_1_end {
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
}

.block_1_end span {
    padding: 17px 20px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.4s linear;
}

.block_1_end .fas {
    color: black;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 3px;
}

/* Block 2 */

.main_container {
    width: 80%;
    margin:  0 auto;
}

.block_2 {
    padding: 5%;
    background-color: #dfe6e9;
}

.blocks {
    width: 100%;
    display: flex;
}

.left {
    width: 50%;
    padding-left: 5%;
    padding-top: 20px;
}

.right {
    width: 50%;
    text-align: center;
}

.text h2 {
    font-size: 26px;
    letter-spacing: 6px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #81868e;
    font-weight: 400;
    width: 90%;
    margin-bottom: 40px;
}

.text .more {
    font-size: 15px;
    padding: 8px 40px;
    color: #81868e;
    border: 1px solid #81868e;
    font-weight: 400;
    transition: all 0.4s;
    text-transform: uppercase;
}

.text .more:hover {
    color: black;;
    border: 1px solid #1e272e;
}

/* Block 3 */

.block_3 {
    padding: 5%;
}

.block_3_center {
    width: 100%;
    text-align: center;
}

.block_3_center p {
    width: 60%;
    line-height: 30px;
    margin: 0 auto;
}

.block_3 a {
    border: 0;
    padding: 0;
}

.block_3_flex {
    width: 100%;
    display: flex;
}

.block_3_flex .left {
    width: 45%;
    padding-top: 4%;
}

.block_3_flex .right {
    width: 55%;
    padding-top: 7%;
    text-align: left;
    padding-left: 5%;
}

.color {
    font-weight: bold;
    color: black;
}

.block_3_flex h3 {
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 2px;
    color: black;
    font-weight: 400;
}

.people {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.people .about {
    position: relative;
}

.people .about .people_img {
    background-color: black;
    height: 450px;
    overflow: hidden;
    transition: all 0.2s;
}

.people .about img {
    max-width: 100%;
    opacity: 0.2;
}

.people .about .user_cont {
    width: 100%;
    position: absolute;
    top: 30%;
    opacity: 0;
}

.user_cont h3 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #464646;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.user_cont p {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 1px;
    color: #464646;
    font-weight: 400;
    margin-bottom: 25px;
}

.user_cont .fab {
    color: #464646;
    font-size: 16px;
    margin: 0 5px;
}

.people .about .user_name {
    margin-top: 25px;
}

.people .about .user_name h2 {
    font-size: 17px;
    letter-spacing: 3px;
    color: #333b46;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.people .about .user_name p {
    margin: 0;
    width: 100%;
    font-size: 16px;
}

.people .about:hover .people_img {
    background-color: #dfe6e9;
}

.people .about:hover .user_cont {
    opacity: 1;
}

/* Block 4 */

.block_4 {
    padding-top: 7%;
    background-color: black;
}
.block_4 h2 {
    color: white;
}

.block_4 p {
    margin-bottom: 70px;
}

.port_img {
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s;
    margin-top: 10px;
}

.port_center {
    margin: 10px 10px 0 10px;
}

.port_img img {
    max-width: 100%;
    position: absolute;
    transition: all 0.4s;
}

.port_img:hover {
    background-color: #dfe6e9;
}

.port_img:hover img {
    transform: scale(1.1);
    opacity: 0.2;
}

.port_img:hover .port_info {
    opacity: 1;
}

.block_4 .row {
    margin: 0;
}

.block_4 .row .col-lg-4 {
    padding: 0;
}

.port_info {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.port_info h2 {
    font-size: 17px;
    letter-spacing: 2px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.port_info p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #81868e;
    font-weight: 400;
    margin-bottom: 40px;
}

.port_info a {
    color: #81868e;
    border: 1px solid #81868e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 30px;
    transition: all 0.4s;
}

.port_info a:hover {
    color: black;
    border: 1px solid black;
}

/* Start Work  */

.start_work {
    width: 100%;
    margin-top: 10px;
    background-color: black;
    padding: 3% 0;
    text-align: center;
}

.start_work p {
    font-size: 17px;
    letter-spacing: 6px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.start_work a {
    color: #81868e;
    border: 1px solid #81868e;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: all 0.4s;
}

.start_work a:hover {
    color: white;
    border: 1px solid white;
}


/* Block 5 */

.block_5 {
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #dfe6e9;
}

.block_5 .block_3_flex {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.block_5 .text {
    width: 100%;
}

.block_5 .left {
    padding: 0;
    width: 40%;
}

.block_5 .right {
    padding: 0;
    width: 60%;
    display: flex;
}

.block_5 .right .l {
    width: 50%;
}

.block_5 .right .r {
    width: 50%;
}

.block_5 h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
}

.block_5 .left p {
    text-transform: uppercase;
    font-size: 20px;
}

.icons_blocks {
    width: 70%;
    margin: 0 auto;
}

.icons {
    justify-content: center;
    padding-top: 3%;
}

.icon {
    height: 75px;
    transition: all 0.4s;
    cursor: pointer;
}

.icon .some_text {
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    font-size: 15px;
    color: #81868e;
}

.icon:hover .some_text {
    color: black;
}

.icon p {
    text-align: center;
    width: 100%;
    margin: 0;
}

.icon .far,
.icon .fas  {
    padding-top: 5px;
    font-size: 35px;
    color: #81868e;
    transition: all 0.4s;
}

.icon:hover .fas  {
    color: black;
}

.icon:hover .far  {
    color: black;
}

/* Block 6 */

.block_6 {
    background-image: url(images/block_6.png);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.block_6 .color {
    color: white;
}

.block_6 .left {
    padding: 0;
    width: 50%;
}

.block_6 .right {
    padding: 0;
    width: 50%;
    position: absolute;
    top: -50%;
    right: 5%;
    height: 600px;
    overflow: hidden;
}

.block_6 .block_3_flex {
    padding-top: 7%;
    padding-bottom: 7%;
    color: white;
}

.block_6 .left h3 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 4px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 15px;
}

.block_6 .left p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #81868e;;
    font-weight: 400;
    padding-bottom: 30px;
}

.block_6 .left a {
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
    font-weight: 400;
    padding: 10px 35px;
    background-color: #81868e;
    transition: all 0.4s;
    text-transform: uppercase;
}   

.block_6 .left a:hover {
    background-color: white;
}

.block_6 .right img {
    max-width: 100%;
}

/* Block 7 */

.block_7 {
    width: 100%;
    padding: 5%;
}

.block_7 h2 {
    text-align: center;
    margin-bottom: 2%;
}

.block_7 .blocks {
    width: 70%;
    margin: 0 auto;
}

.block_7 div {
    width: 100%;
    text-align: center;
}

.block_7 .far,
.block_7 .fas {
    font-size: 35px;
    color: black;
    margin: 25px 0;
}

.block_7 h3 {
    font-size: 17px;
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.block_7 p {
    width: 100%;
    text-align: left;
}

/* Block 8 */

.block_8 {
    padding: 5% 0;
    text-align: center;
    background-color: black;
    color: white;
    background-image: url(images/block_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.block_8 .carousel-control-prev {
    left: 0;
    opacity: 1;
    width: 3%;
}

.block_8 .carousel-control-next {
    right: 0;
    opacity: 1;
    width: 3%;
}

.block_8 .quote {
    width: 100%;
    color: #dfe6e9;
    font-size: 35px;
    margin-bottom: 20px;
}

.block_8 h2 {
    font-size: 19px;
    letter-spacing: 6px;
    color: #dfe6e9;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.block_8 p {
    font-size: 16px;
    letter-spacing: 2px;
    color: #dfe6e9;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}

.block_8 span {
    font-size: 12px;
    letter-spacing: 1px;
    color: #81868e;
    font-weight: 300;
    text-transform: uppercase;
}

/* Block 9 */

.block_9 {
    padding: 5% 0;
}

.block_9 .main_container {
    width: 70%;
    margin: 0 auto;
}

.block_9_img img {
    margin-top: 10%;
    margin-bottom: 20px;
    max-width: 100%;
}

.block_9 h3 {
    font-size: 17px;
    letter-spacing: 6px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.block_9 span {
    font-size: 12px;
    letter-spacing: 1px;
    color: #81868e;
    font-weight: 300;
    text-transform: uppercase;
}

.block_9 p {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.block_9 .btn_more {
    color: #81868e;
    border: 1px solid #81868e;
    padding: 8px 30px;
    transition: all 0.4s;
}

.block_9 .btn_more:hover {
    color: black;
    border: 1px solid black;
}

/* Block 10 */

.block_10 {
    padding: 3% 0;
    background-color: #dfe6e9;
    color: black;
    text-align: center;
}

.block_10  h2 {
    font-size: 19px;
    margin-bottom: 20px;
}

.block_10 form {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.block_10 form .inp {
    width: 65%;
    background-color: white;
    padding: 8px 0 8px 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    border: 0;
}

.block_10 form .sub {
    cursor: pointer;
    width: 30%;
    padding: 8px 30px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.block_10 form .sub:hover {
    opacity: 0.8;
}

.block_10 form .inp:focus,
.block_10 form .sub:focus {
    outline: none;
}

.block_10 span {
    font-size: 13px;
    letter-spacing: 1px;
    color: #81868e;
}

/* Block 11 */

.block_11 {
    padding: 5%;
    background-color: black;
}

.block_11 h2 {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.block_11 .blocks {
    width: 65%;
    margin: 0 auto;
    display: flex;
}

.block_11 .blocks .cont_one {
    width: 33%;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid transparent;
    padding: 5px 8px;
    transition: all 0.6s;
    margin: 0 5px;
}

.block_11 .blocks .cont_one:hover {
    border: 1px solid #81868e;
}

.block_11 .blocks .cont_one div {
    margin: 0 10px;
}

.block_11 .blocks .cont_one .fas {
    font-size: 20px;
    color: #81868e;
    transition: all 0.6s;
}

.block_11 .blocks .cont_one span {
    text-transform: uppercase;
    color: #81868e;
    font-size: 14px;
    letter-spacing: 2px;
}

.block_11 .blocks .cont_one p {
    width: 100%;
    margin: 0;
    color: #81868e;
}

.block_11 .blocks .cont_one:hover .fas {
    transform: scale(1.1);
}

.block_11 .blocks form {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.block_11 .blocks form .inp {
    width: 44%;
    margin:  0 5px;
    background-color: white;
    border: 0;
    padding: 8px 0 8px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;

}

.block_11 .blocks form .sub:focus,
.block_11 .blocks form textarea:focus,
.block_11 .blocks form .inp:focus {
    outline: none;
}

.block_11 .blocks form textarea {
    width: 90%;
    margin:  2% 5% 1% 5%;
    padding: 8px 0 8px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

.block_11 .blocks form span {
    font-size: 13px;
    color: #81868e;
    float: left;
    margin-left: 5%;
}

.block_11 .blocks form .sub {
    cursor: pointer;
    width: 20%;
    padding: 8px 30px;
    background-color: #81868e;
    color: black;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.4s;
    float: right;
    margin-right: 5%;
}

.block_11 .blocks form .sub:hover {
    opacity: 0.8;
}

/* Footer  */

.footer {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
}

.footer h1 {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}

.footer .foot_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer .foot_icons .foot_icon {
    margin: 0 10px;
    border: 1px solid black;
    width: 27px;
    height: 27px;
    transform: rotate(45deg);
    position: relative;
    transition: all 0.6;
}

.footer .foot_icons .foot_icon .fab {
    color: black;
    padding-top: 3px;
    padding-right: 3px;
    transform: rotate(-45deg);
    transition: all 0.6;
}

.footer .foot_icons .foot_icon:hover {
    background-color: black;
    border: 1px solid black;
}

.footer .foot_icons .foot_icon:hover .fab {
    color: white;
}

.footer .foot_text {
    margin-top: 3%;
    text-align: center;
}

.footer .foot_text span {
    color: #81868e;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.footer .foot_text p {
    color: #81868e;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
}




/*Active Menu*/

.block_1 .nav {
    display: none;
}

.block_1 .nav input {
    display: none;
}

.block_1 .nav label {
    cursor: pointer;
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.nav {user-select: none;}

.menu_show {
    position: relative;
    z-index: 999;
    display: inline-block;
    margin: 0;
    color: #c69e78;
	font-size: 28px;
	transition: all 0.4s;
}

.menu_show:hover {
	opacity: 0.5;
	color: #c69e78;
	text-decoration: none;
}

.menu_active, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu_active {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 350px;
    margin: 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: black;
    opacity: 0.9;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateY(-150%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 998;
    padding-top: 40px;
}

.menu__submenu {
    font-size: .8em;
    background-color: #ddd;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.menu__showsub {
    position: absolute;
    right: 0;
    margin-top: -34px;
    padding: 10px;
    line-height: normal;
}

.link_menu {  
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	color: #81868e;
	font-weight: 300;
    letter-spacing: 2px;
    padding: 5px 0;
    transition: all 0.4s;
}

.link_menu:hover {
	opacity: 0.5;
    letter-spacing: 4px;
    color: #81868e;
	text-decoration: none;
}

.menu_last {  
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	color: #c69e78;
	font-weight: 300;
	letter-spacing: 2px;
	padding-top: 30px;
}

.menu_check:checked~ {
    bottom: 0;
}

.menu_active::-webkit-scrollbar {
	display: none;
}

.menu_check:checked+.menu_show {
	color: #c69e78;
}

.menu__check:checked~.menu__submenu {
	max-height:20px;
}

.menu__check:checked+.menu__showsub {
	transform: rotate(100deg);
}

.menu_check:checked~.menu_active {
	transform: translateX(0);
}

/*Гамбургер меню*/

#showmenu {
  opacity: 0;
}

.menu_show {
  display: flex;
  align-items: center;  
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu_show > span,
.menu_show > span::before,
.menu_show > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #81868e;
}
.menu_show > span::before {
  content: '';
  top: -8px;
}
.menu_show > span::after {
  content: '';
  top: 8px;
}

#showmenu:checked ~ .menu_show > span {
  transform: rotate(45deg);
}
#showmenu:checked ~ .menu_show > span::before {
  top: 0;
  transform: rotate(0);
}
#showmenu:checked ~ .menu_show > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu_show > span,
.menu_show > span::before,
.menu_show > span::after {
  transition-duration: .25s;
}
