/* Media  */

@media (max-width: 1770px) {
    .people .about .people_img {
        height: auto;
    }
    .block_11 .blocks {
        width: 75%;
    }
}

@media (max-width: 1440px) {
    .block_1_des h1 {
        letter-spacing: 41px;
    }
    .left {
        padding-left: 0;
    }
    .main_container {
        width: 90%;
    }
    .block_7 .blocks {
        width: 90%;
    }
    .block_9 .main_container {
        width: 90%;
    }
    .people {
        width: 70%;
        margin: 0 auto;
    }
    .block_3_center p {
        width: 75%;
    }
    .block_6 .right {
        top: -35%;
    }
    .block_10 form .sub {
        width: 33%;
    }
}

@media (max-width: 1280px) {
    .text p {
        width: 100%;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .block_3_center p {
        width: 70%;
        line-height: 25px;
    }
    .block_5 .block_3_flex {
        width: 95%;
    }
    .block_5 .left p {
        width: 90%;
        font-size: 18px;
    }
    .block_5 .right p {
        width: 95%;
        font-size: 14px;
    }
    .block_6 .left h3 {
        font-size: 20px;
    }
    .block_8 p {
        width: 70%;
    }
    .block_9 h3 {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .block_10 form {
        width: 40%;
    }
    .block_10 form .inp {
        width: 63%;
    }
    .block_10 form .sub {
        width: 35%;
    }
    .block_11 .blocks {
        width: 90%;
    }
    .block_11 .blocks form .inp {
        width: 48%;
        margin: 0 3px;
    }
    .block_11 .blocks form textarea {
        width: 97%;
        margin: 2% 0;
    }
    .block_6 .left p {
        font-size: 15px;
        padding-bottom: 20px;
    }
    .port_img {
        height: 350px;
    }
}

@media (max-width: 1024px) {
    .block_1_des h1 {
        font-size: 25px;
        letter-spacing: 31px;
    }
    .block_1 p {
        width: 40%;
    }
    .main_container {
        width: 90%;
    }
    .block_7 .blocks {
        width: 95%;
    }
    .block_9 .main_container {
        width: 95%;
    }
    .block_3 {
        padding: 5% 0;
    }
    .block_3_flex .left {
        width: 45%;
    }
    .block_3_flex .right {
        padding-left: 3%;
    }
    .text h2 {
        margin-bottom: 20px;
    }
    .text p {
        margin-bottom: 20px;
    }
    .block_3_center p {
        width: 80%;
    }
    .block_5 .right p {
        width: 90%;
        font-size: 14px;
        text-align: justify;
    }
    .block_5 .left p {
        width: 95%;
    }
    .block_11 .blocks {
        width: 95%;
    }
    .block_11 .blocks .cont_one p {
        font-size: 13px;
    }
    .block_11 .blocks form .inp {
        margin: 0;
    }
    .block_11 .blocks form span {
        margin-left: 3%;
    }
}

@media (max-width: 992px) {
    .block_2 .left {
        width: 60%;
    }
    .block_2 .right {
        width: 40%;
    }
    .block_3_flex {
        display: block;
    }
    .block_3_flex .left {
        width: 100%;
    }
    .block_3_flex .right {
        width: 100%;
        padding: 0;
    }
    .block_3_center p {
        width: 90%;
        font-size: 13px;
    }
    .icons {
        margin-bottom: 50px;
    }
    .block_6 .block_3_flex {
        display: flex;
    }
    .block_6 .block_3_flex .left {
        width: 50%;
    }
    .block_6 .block_3_flex .right {
        width: 50%;
    }
    .block_10 form {
        width: 50%;
    }
    .block_11 .blocks {
        width: 100%;
    }
    .block_11 .blocks form .sub {
        margin-right: 2%;
    }
    .main_container {
        width: 95%;
    }
    .text p {
        font-size: 13px;
    }
    .port_info p {
        margin-bottom: 20px;
    }
    .block_5 .left p {
        font-size: 16px;
    }
    .block_5 .right p {
        font-size: 13px;
    }
    .block_11 .blocks .cont_one .contact_info{
        display: none;
    }
    .block_11 .blocks .cont_one {
        width: 10%;
        justify-content: center;
    }
    .block_11 .blocks {
        justify-content: center;
    }
    .menu {
        display: none;
    }
    .block_1 .nav {
        display: inherit;
    }
    .icons_blocks {
        width: 100%;
        margin:  0 auto;
    }
}


@media (max-width: 768px) {
    .main_container {
        width: 100%;
    }
    .block_2 {
        padding: 5% 2%;
    }
    .block_3 {
        padding: 5% 2%;
    }
    .text h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .text p {
        line-height: 25px;
    }
    .block_6 .block_3_flex {
        padding: 7% 2%;
    }
    .block_10 form {
        width: 60%;
    }
    .block_10 {
        padding: 5% 0;
    }
    .block_3_center p {
        width: 100%;
    }
    .block_3_flex .left {
        padding: 10px;
    }
    .block_4 p {
        width: 90%;
        margin-bottom: 30px;
    }
    .port_img {
        height: 300px;
        margin: 5px;
    }
    .start_work {
        padding: 5%;
    }
    .start_work p {
        margin-bottom: 20px;
    }
    .block_6 .block_3_flex .left {
        width: 60%;
    }
    .block_6 .block_3_flex .right {
       right: 0;
    }
    .block_8 p {
        width: 80%;
    }
    .block_8 .quote {
        font-size: 25px;
    }
    .block_6 .left p {
        display: none;
    }
    .icon .some_text {
        font-size: 12px;
    }
    .block_1_des h1 {
        letter-spacing: 21px;
    }
    .block_1 p {
        width: 50%;
        font-size: 14px;
        line-height: 20px;
    } 
    .people .about .user_cont p {
        display: none;
    }
    .port_info h2 {
        margin-bottom: 20px;
    }
    .port_info p {
        display: none;
    }
    .block_7 h3 {
        font-size: 14px;
        letter-spacing: 4px;
    }
    .block_6 .left h3 {
        font-size: 15px;
    }
    .block_5 h3 {
        font-size: 16px;;
    }
    .block_5 .left p {
        font-size: 15px;
        width: 100%;
    }
    .user_cont h3 {
        font-size: 16px;
    }
    .block_3_flex h3 {
        font-size: 16px;
        text-transform: uppercase;
    }
    .block_2 .right img {
        width: 150px;
        margin-top: 7%;
    }
    .icons_blocks {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .icons_blocks {
        width: 70%;
        margin: 0 auto;
        padding-top: 5%;
    }
    .block_2 .text p {
        line-height: 25px;
        height: 100px;
        overflow: hidden;
    }
    .block_3_flex .right {
        padding: 10px;
    }
    .block_4 p {
        height: 50px;
        overflow: hidden;
    }
    .start_work p {
        font-size: 16px;
    }
    .block_8 p {
        width: 70%;
        height: 50px;
        overflow: hidden;
    }
    .block_10 {
        padding:  7%;
    }
    .block_10 form {
        width: 70%;
        margin-top: 20px;
    }
    .footer {
        padding-top: 7%;
    }
    .block_11 .blocks form .sub {
        margin-right: 2%;
        width: 40%;
        font-size: 13px;
    }
    .footer h1 {
        font-size: 30px;
    }
    .block_6 .left a {
        font-size: 13px;
    }
    .block_10 form .inp {
        font-size: 13px;
    }
    .block_10 form .sub {
        font-size: 13px;
    }
    .block_8 {
        padding: 8% 2%;
    }
    .block_11 .blocks form .inp {
        width: 100%;
        margin-bottom: 2%;
    }
    .block_11 .blocks form textarea {
        width: 100%;
        margin: 0 0 2% 0;
    }
    .block_11 .blocks {
        display: block;
    }
    .block_11 .blocks .cont_one {
        width: 100%;
        justify-content: left;
        margin-left: 0;
        padding: 5px 0;
    }
    .block_11 .blocks .cont_one .contact_info {
        display: block;
    }
    .block_11 .blocks .cont_one span {
        font-size: 13px;
    }
    .block_11 .blocks .cont_one p {
        font-size: 15px;
    }
    .block_11  h2 {
        margin-bottom: 30px;
    }
    .people .about {
        margin:  0;
        padding-bottom: 5%;
    }
    .people .about .people_img {
        width: 350px;
        height: 400px;
        overflow: hidden;
        margin: 0 auto;
    }
    .people .about img {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .block_1_des h1 {
        letter-spacing:  16px;
    }
    .block_3_center h2 {
        margin-bottom: 40px;
    }
    .block_3_center p {
        display: none;
    }
    .port_img {
        margin: 5px 0;
        height: 350px;
    }
    .icons_blocks {
        width: 80%;
        margin: 0 auto;
    }
    .block_5 .icons_blocks .icons .col-sm-6 {
        width: 30%;
        margin-bottom: 20px;
    }
    .block_9 h2 {
        text-align: center;
    }
    .block_10 form {
        width: 90%;
    }
    .block_7 .blocks {
        width: 100%;
    }
    .block_6 .block_3_flex {
        display: block;
    }
    .block_6 .block_3_flex .left {
        width: 100%;
        text-align: center;
    }
    .block_6 .block_3_flex .right {
        width: 100%;
        position: relative;
        height: 400px;
        left: -15%;
    }
    .block_6 .right img {
        max-width: 120%;
    }
    .footer {
        padding-top: 10%;
    }
    .block_1_end span {
        padding: 5px 10px;
    }
    .block_1_end .fas {
        font-size: 16px;
        top: 2px;
    }
}

@media (max-width: 480px) {
    .block_2 .text p {
        display: none;
    }
    .block_2 .text h2 {
        margin-top: 25%;
        margin-bottom: 8%;
    }
    .people {
        width: 90%;
        margin: 0 auto;
    }
    .icons_blocks {
        width: 100%;
    }
    .icons_blocks .row {
        margin: 0;
    }
    .block_3_flex .right {
        display: block;
    }
    .block_3_flex .right .l {
        width: 100%;
    }
    .block_3_flex .right .r {
        width: 100%;
    }
    .block_6 .block_3_flex {
        padding: 5% 2%;
    }
    .block_7 {
        padding: 5% 2%;
    }
    .block_7 .blocks .row {
        margin: 0;
    }
    .block_8 p {
        display: none;
    }
    .block_8 .quote {
        font-size: 20px;
    }
    .footer {
        padding-top: 10%;
    }
    .block_3 .people .row {
        margin: 0;
    }
}

@media (max-width: 420px) {
    .people {
        width: 100%;
        margin: 0 auto;
    }
    .block_1_des {
        padding-top: 50%;
        padding-bottom: 40%;
    }
    .block_1_des h1 {
        letter-spacing: 5px;
    }
    .block_1 p {
        width: 60%;
        font-size: 14px;
        line-height: 20px;
    }
    .block_2 .blocks {
        width: 100%;
        display: block;
        text-align: center;
    }
    .block_2 .left {
        width: 100%;
    }
    .block_2 .left h2 {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .block_2 .right {
        width: 100%;
        margin-top: 20px;
    }
    .people .about .people_img {
        width: 250px;
        height: 320px;
        overflow: hidden;
        margin: 0 auto;
    }
    .port_img {
        margin: 5px 0;
        height: 300px;
    }
    .start_work {
        padding: 10% 0;
    }
    .start_work p {
        font-size: 14px;
        letter-spacing: 4px;
    }
    .start_work a {
        font-size: 14px;
    }
    .people .about img {
        width: 100%;
    }
    .block_9 .main_container {
        width: 100%;
    }
    .block_9 .main_container .row {
        margin: 0;
    }
    .block_10 form {
        width: 100%;
        display: block;
    }
    .block_10 form .inp {
        width: 100%;
        margin-bottom: 10px;
    }
    .block_10 form .sub {
        width: 100%;
    }
    .block_5 .icons_blocks .icons .col-sm-6 {
        width: 45%;
        margin-bottom: 20px;
    }
    .block_6 .block_3_flex .right {
        height: 300px;
    }
}