.second {
	width: 100%;
	display: flex;
	padding-bottom: 10%;
}

/*Left */

.second__left {
	width: 35%;
}

.second__left .second__img {
	background-image: url(images/second.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 750px;
}

/*Right */

.second__right {
	width: 65%;
	display: flex;
	position: relative;
	padding-top: 100px;
}

.second__right .second__name {
	position: absolute;
	top: -15%;
	right: 13%;

}

.second__right .second__info {
	width: 26%;
	padding-left: 6%;
}

.second__right .second__info--down {
	margin-top: 28%;
}

.second__right .second__info .second__item {
	font-weight: 700;
	color: #3a30f8;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.second__right .second__info .second__title {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: bold;
	margin: 25px 0;
}

.second__right .second__info .second__des,
.second__right .second__info ul {
	font-weight: 300;
	font-size: 18px;
	width: 90%;
	margin-bottom: 30px;
}

.second__right .second__info li {
	padding-bottom: 20px;
}

.second__right .second__colors {
	margin-bottom: 20px;
}

