.contact {
	margin: 150px 0 30px 0;
}

.contact__block {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
}

.contact__item {
	flex: 0 0 50%;
}

.contact__item:first-child {
	padding: 0 15px 0 0;
}

/*Form */

.form {
	margin: 0 0 90px 0;
}

.form__info {
	display: flex;
	justify-content: space-between;
}

.form__input {
	color: #cccccc;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fefcf9;
	transition: all 0.5s;
}

.form__input:focus {
	border: 1px solid #7beec7;
	background-color: transparent;
}

.form__input:focus.form__input::placeholder {
	color: #7beec7;
}

.form__text {
	max-width: 100%;
	flex: 0 0 48%;
}

.form__object {
	width: 100%;
	display: block;
	margin: 30px 0;
}

.form__area {
	width: 100%;
	display: block;
	margin: 0 0 50px 0;
}

.form__btn {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 60px;
	background-color: #7beec7;
	border: 1px solid transparent;
	transition: all 0.4s;
	cursor: pointer;
}

.form__btn:hover {
	background-color: transparent;
	color: #7beec7;
	border: 1px solid #7beec7;
}

/*Adres */

.adres__title {
	color: #60606e;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.adres__des {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	margin: 25px 0;
	line-height: 25px;
}

.adres__list {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 30px 0;
}

.adres__item {
	margin: 0 0 18px 0;
}

.adres__item:last-child {
	margin: 0;
}

.adres__item.bold {
	font-weight: bold;
}

.adres__icons .foot__icon {
	padding: 0 15px 0 0;
}

/*Map */

.map {
	text-align: right;
	height: 100%;
}

.map__img {
	max-width: 100%;
	height: 100%;
}

