.do {
	padding: 150px 0 0 0;
}

/*Do Top */

.top {
	width: 100%;
	text-align: center;
}

.des {
	max-width: 730px;
	margin: 0 auto;
	padding: 17px 0 0 0;
	font-size: 14px;
	line-height: 25px;
}

/*Do Down */

.do__down {
	margin: 90px 0 0 0;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.do__block {
	flex: 0 0 50%;
}

.do__block:first-child {
	flex: 0 0 48%;
}

.do__block:last-child {
	text-align: right;
}

.do__des {
	margin: 0 0 40px 0;
	color: #60606e;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.do__item {
	display: flex;
}

.sub-do__block {
	flex: 0 0 52%;
}

.sub-do__item {
	margin: 0 0 16px 0;
}

.do__icon {
	color: #7beec7;
	font-size: 14px;
}

.do__text {
	color: #60606e;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	padding: 0 0 0 10px;
}

.do__img {
	max-width: 100%;
	padding: 10px 10px 0 0;
}