<h1>User Page</h1>

<div>
    <select (change)="getUser()" [(ngModel)] = 'userId'>
        <option>Select the user ID</option>
        <option *ngFor="let user of users">{{user.id}}</option>
    </select>
</div>

<br><br>

<form *ngIf="user">
    <label>ID</label><br>
    <input [(ngModel)]="user.id" name="id" type="number" required><br>

    <label>NAME</label><br>
    <input [(ngModel)]="user.name" type="text" name="name" required><br>

    <label>USERNAME</label><br> 
    <input [(ngModel)]="user.username" type="text" name="username" required><br>
    
    <label>EMAIL</label><br>
    <input [(ngModel)]="user.email" type="text" name="email" required><br><br>

    <button [disabled]="!user.id || !user.name || !user.username || !user.email" [routerLink]='user.id'>SHOW POST</button>
</form>
