@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

/*=============================*/
/* ROOT */
/*=============================*/
:root {
  --color-bg: #F0F5F9;
  --color-grey: #C9D6DF;
  --color-text: #52616B;
  --color-title: #1E2022;
}

/*=============================*/
/* CUSTOM PRELOAD */
/*=============================*/
.loader {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;background-color: var(--color-bg);-webkit-animation: loader 1.4s linear;animation: loader 1.4s linear;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes loader {0%{opacity: 1;}70%{opacity: 1;}99%{opacity: 0;}100%{display: none;visibility: hidden;z-index: -10;opacity: 0;}}
@keyframes loader {0%{opacity: 1;}70%{opacity: 1;}99%{opacity: 0;}100%{display: none;visibility: hidden;z-index: -10;opacity: 0;}}

/*=============================*/
/* RESET STYLES */
/*=============================*/
* {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;-webkit-text-size-adjust: none;box-sizing: border-box;}
html:not(.touch-screen)::-webkit-scrollbar,html:not(.touch-screen) *::-webkit-scrollbar {width: 6px;height:6px;}
html:not(.touch-screen)::-webkit-scrollbar-track,html:not(.touch-screen) *::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1);}
html:not(.touch-screen)::-webkit-scrollbar-thumb,html:not(.touch-screen) *::-webkit-scrollbar-thumb {background: var(--color-title);}
:focus,:active,:visited {outline: none;}

/*=============================*/
/* GLOBAL SETTINGS */
/*=============================*/
html {height: 100%;}
body {height: 100%;background-color: var(--color-bg);}
body.lock {overflow: hidden;}
#content-block {overflow: hidden;position: relative;}
html:not(.ie) #content-block {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height:100%;}
.overflow-hidden {overflow: hidden;}
html.overflow-hidden body {overflow: hidden;}
html:not(.ie) main {-webkit-box-flex:1;-ms-flex:1;flex:1;}
.container {padding: 0 15px;}
.row {--bs-gutter-x: 30px;}
.section {position: relative;padding: 50px 0;}
/*media*/
@media(max-width: 1440px){
  .section {padding: 40px 0;}
}
@media(max-width: 991px){
  .section {padding: 30px 0;}
}
@media(max-width: 575px){
  .section {padding: 25px 0;}
}

/*=============================*/
/* TYPOGRAPHY */
/*=============================*/
body * {font-family: 'Archivo', sans-serif;}
* {-webkit-locale: auto;}
a {cursor: pointer;text-decoration: none;outline: none;color:inherit;transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;}
a:link, a:visited, a:active, a:hover {cursor: pointer;text-decoration: none;outline: none;}
img {width: 100%;height: auto;max-width: 100%;}
button {background-color: transparent;border: 0;cursor: pointer;}
/*text*/
.text,.text p {font-size: 20px;line-height: 1.5em;color: var(--color-text);}
.text img {display: block;max-width: 100%;height: auto;}
.text a {position:relative;color: var(--color-text);font-weight: 700;cursor:pointer;white-space: nowrap;}
.text a::before {position: absolute;content: '';bottom: 0;right: 0;display: block;width: 0;height: 1px;background-color: var(--color-text);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.text span {color: var(--color-text);font-weight: 700;}
/*titles*/
h1,.h1 {position: relative;font-size: 60px;line-height: 1.3em;color: var(--color-title);}
h2,.h2 {position: relative;font-size: 54px;line-height: 1.3em;color: var(--color-title);}
h3,.h3 {position: relative;font-size: 48px;line-height: 1.3em;color: var(--color-title);}
h4,.h4 {position: relative;font-size: 36px;line-height: 1.3em;color: var(--color-title);}
h5,.h5 {position: relative;font-size: 28px;line-height: 1.3em;color: var(--color-title);}
h6,.h6 {position: relative;font-size: 24px;line-height: 1.3em;color: var(--color-title);}
/*font-weight*/
.bold {font-weight: 700;}
.media {font-weight: 500;}
.normal {font-weight: 400;}
/*position*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
/*text-line*/
.text-line-1 {overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-2 {overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-3 {overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-4 {overflow: hidden;-webkit-line-clamp: 4;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-5 {overflow: hidden;-webkit-line-clamp: 5;-webkit-box-orient: vertical;display: -webkit-box;}
.text-line-6 {overflow: hidden;-webkit-line-clamp: 6;-webkit-box-orient: vertical;display: -webkit-box;}
/*media*/
@media(min-width: 1200px){
  .text a:hover::before {right: auto;left: 0;width: 100%;}
}
@media(max-width: 1440px){
  h1,.h1 {font-size: 42px;}
  h2,.h2 {font-size: 38px;}
  h3,.h3 {font-size: 34px;}
  h4,.h4 {font-size: 30px;}
  h5,.h5 {font-size: 26px;}
  .text,.text p {font-size: 18px;}
}
@media(max-width: 991px){
  h1,.h1 {font-size: 34px;}
  h2,.h2 {font-size: 30px;}
  h3,.h3 {font-size: 28px;}
  h4,.h4 {font-size: 26px;}
  h5,.h5 {font-size: 24px;}
  h6,.h6 {font-size: 22px;}
  .text,.text p {font-size: 17px;}
}
@media(max-width: 575px){
  h1,.h1 {font-size: 32px;}
  h2,.h2 {font-size: 28px;}
  h3,.h3 {font-size: 26px;}
  h4,.h4 {font-size: 24px;}
  h5,.h5 {font-size: 22px;}
  h6,.h6 {font-size: 20px;}
  .text,.text p {font-size: 16px;}
}

/*=============================*/
/* BTNS */
/*=============================*/
.btn {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;height: 46px;padding: 0 30px;border-radius: 3px;border: 2px solid var(--color-grey);background-color: var(--color-grey);color: var(--color-title);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.btn:active {-webkit-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px);}
.btn span {font-size: 14px;font-weight: 500;text-transform: uppercase;}
.btn i {font-size: 20px;margin-left: 10px;}
/*media*/
@media(min-width: 1200px){
  .btn:hover {background-color: transparent;}
}
@media(max-width: 991px){
  .btn {height: 44px;padding: 0 25px;}
  .btn span {font-size: 13px;}
}
@media(max-width: 575px){
  .btn {height: 42px;padding: 0 20px;}
}