.team {
	margin: 150px 0 0 0;
}

/*Team Dowm */

.team__down {
	margin: 0 0 10px 0;
	display: flex;
}

.team__block {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.team__item {
	flex: 0 0 24%;
	margin: 0 10px 0 0;
	cursor: pointer;
	background-color: #7beec7;
	position: relative;
}

.team__item:last-child {
	margin: 0;
}

.team__cont {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

.team__name {
	color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
}

.team__position {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0 100px 0;
}

.team__icon {
	color: #ffffff;
	 font-size: 24px;
	 padding: 0 10px;
}

.team__img {
 	width: 100%;
 	height: 100%;
 	transition: all 0.4s;
 	z-index: 1;
 	position: relative;
}

.team__item:hover .team__img {
	opacity: 0.4;
}

.team__item:hover .sub-team__cont {
	position: relative;
	z-index: 2;
}

/*Bar */

.bar {
	padding: 50px 30px;
	max-width: 100%;
	background-color: #f3f3f3; 
	display: flex;
	justify-content: space-between;
	margin: 27px 0 0 0;
	align-items: center;
}

.bar__des {
	color: #60606e;
	font-family: "Open Sans";
	font-size: 16px;
	font-style: italic;
}

.bar__btn {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 40px;
	background-color: #7beec7;
	border: 1px solid #7beec7;
	transition: all 0.4s;
}

.bar__btn:hover {
	background-color: transparent;
	color: #7beec7;
}