.texts {
	margin: 150px 0 0 0;
}

.texts__block {
	display: flex;
	max-width: 100%;
}

.texts__item {
	flex: 0 0 50%;
}

.texts__item:first-child {
	margin: 0 10px 0 0 ;
}

.sub-title {
	color: #60606e;
	font-family: "Open Sans - Extrabold";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 20px 0 25px 0;
}

.texts .des {
	padding: 0 30px 0 0;
	color: #60606e;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
}
