.clients {
	margin: 150px 0;
}


.clients__block {
	display: flex;
	justify-content: space-between;
}

.clients__item {
	flex: 0 0 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.clients__img {
	cursor: pointer;
}