/*=============================*/
/* CHECKBOX */
/*=============================*/
.checkbox-wrapper {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;height: 68px;border-radius: 60px;background-color: var(--color-grey-2);}
.checkbox-entry {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;height: 100%;padding: 0 40px;border-radius: 60px;cursor: pointer;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.checkbox-entry:last-child {margin-right: 0;}
.checkbox-entry.active {background-color: var(--color-pink);}
.checkbox-entry input {display: none;}
.checkbox-entry span {position: relative;display: inline-block;font-size: 24px;line-height: 24px;color: var(--color-black-2);padding-left: 40px;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.checkbox-entry span::before {position: absolute;content: '';left: 0;top: 0;width: 18px;height: 18px;border: 3px solid var(--color-black);border-radius: 50%;background-color: transparent;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.checkbox-entry span::after {position: absolute;z-index: 1;content: '';left: 4px;top: 4px;width: 16px;height: 16px;background-color: var(--color-white);border-radius: 50%;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.checkbox-entry input:checked + span {color: var(--color-white);}
.checkbox-entry input:checked + span::before {border-color: var(--color-white);}
.checkbox-entry input:checked + span::after {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
/*media*/
@media(max-width: 1640px){
  .checkbox-wrapper {height: 60px;}
  .checkbox-entry {padding: 0 35px;}
  .checkbox-entry span {font-size: 22px;}
}
@media(max-width: 1199px){
  .checkbox-wrapper {height: 52px;}
  .checkbox-entry {padding: 0 30px;}
  .checkbox-entry span {font-size: 20px;line-height: 22px;padding-left: 35px;}
  .checkbox-entry span::before {width: 16px;height: 16px;}
  .checkbox-entry span::after {width: 14px;height: 14px;}
}
@media(max-width: 767px){
  .checkbox-wrapper {height: 46px;}
  .checkbox-entry {padding: 0 25px;}
  .checkbox-entry span {font-size: 18px;}
}
@media(max-width: 575px){
  .checkbox-wrapper {width: 100%;height: 40px;}
  .checkbox-entry {width: 33.333%;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;padding: 0;}
  .checkbox-entry span {line-height: 20px;padding-left: 30px;}
  .checkbox-entry span::before {width: 14px;height: 14px;}
  .checkbox-entry span::after {width: 12px;height: 12px;}
}
@media(max-width: 400px){
  .checkbox-entry span {padding-left: 25px;}
}

/*=============================*/
/* FORM */
/*=============================*/
.form {position: relative;display: block;width: 100%;}
.input-wrapper {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: calc(100% + 20px);margin-top: -20px;margin-bottom: 20px;margin-left: -10px;}
.input-wrapper .input-block {width: calc(50% - 20px);margin: 20px 10px 0 10px;}
.input-block {position: relative;display: block;width: 100%;margin-bottom: 20px;}
.input-block:last-child {margin-bottom: 0;}
.input-block .input {position: relative;display: block;width: 100%;height: 64px;font-size: 20px;font-weight: 300;color: var(--color-black-2);padding: 0 20px;border-radius: 8px;background-color: var(--color-white);box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.input-block .input::placeholder {color: var(--color-placeholder);}
.input-block .input:focus::placeholder {color: var(--color-black-2);}
.input-invalid-message {position: relative;display: none;width: 100%;font-size: 16px;line-height: 1.4em;color: var(--color-pink);margin-top: 10px;}
.input-block.textarea textarea {height: 220px;padding: 20px;resize: none;}
.input-block.invalid .input::placeholder {color: var(--color-pink);}
.input-block.invalid .input-invalid-message {display: block;}
.form-bottom {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;width: 100%;}
/*media*/
@media(max-width: 1640px){
  .input-block .input {height: 62px;}
}
@media(max-width: 1199px){
  .input-block .input {font-size: 18px;}
}
@media(max-width: 767px){
  .input-block .input {height: 60px;}
}
@media(max-width: 575px){
  .input-wrapper {width: 100%;margin: 0 0 15px 0;}
  .input-wrapper .input-block {width: 100%;margin: 0 0 15px 0;}
  .input-wrapper .input-block:last-child {margin-bottom: 0;}
  .input-block .input {height: 50px;padding: 0 15px;font-size: 16px;}
  .input-block.textarea textarea {height: 200px;padding: 15px;}
  .form-bottom {-ms-flex-wrap: wrap;flex-wrap: wrap;}
  .form-bottom .cv-btn {margin-bottom: 40px;}
}

/*=============================*/
/* POPUPS */
/*=============================*/
.open-popup {cursor: pointer;}
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-o-transition-delay: 0.3s;transition-delay: 0.3s;-webkit-transition-delay: 0.3s;}
.popup-wrapper.active {left: 0; transition-delay: 0s; -webkit-transition-delay: 0s;}
.popup-wrapper .bg-layer {position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;background-color: rgba(0, 0, 0, 0.63);opacity: 0;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: auto;-webkit-overflow-scrolling: touch;font-size: 0;letter-spacing: 0;text-align: center;padding: 20px;opacity: 0;visibility: hidden;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transform: translateY(100px);transform: translateY(100px);-webkit-transform: translateY(100px);}
.popup-content.active {-ms-transform: translateY(0);transform: translateY(0);-webkit-transform: translateY(0);opacity: 1;visibility: visible;}
.popup-content:after {display: inline-block;vertical-align: middle;height: 100%;content: "";}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 10000px;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 724px;background-color: var(--color-white);box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);border-radius: 10px;z-index: 1;}
.popup-align {position: relative;padding: 20px;text-align: left;}
/*close*/
.btn-close-block {position: absolute;top: -12px;right: -12px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: 36px;height: 36px;border-radius: 50%;background-color: var(--color-white-2);border: 1px solid var(--color-border);box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);cursor: pointer;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.btn-close-block:active {transform: translateY(5px);}
.btn-close {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 16px;height: 16px;}
.btn-close::before,.btn-close::after {position: absolute;content: '';left: 0;display: block;width: 100%;height: 2px;background-color: var(--color-black-2);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.btn-close::before {-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.btn-close::after {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
/*head*/
.popup-head {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;margin-bottom: 20px;}
.popup-imgs {position: relative;display: block;width: calc(43% - 20px);height: 0;padding-bottom: calc(43% - 20px);border-radius: 10px;overflow: hidden;margin-right: 20px;}
.popup-imgs img {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;}
.popup-info {position: relative;display: block;width: 57%;}
.popup-info-block {position: relative;display: block;width: 100%;margin-bottom: 20px;}
.popup-info-item {position: relative;display: flex;align-items: center;width: 100%;margin-bottom: 20px;}
.popup-info-item:last-child {margin-bottom: 0;}
.popup-info-item p {position: relative;display: block;width: 25%;font-size: 20px;color: var(--color-placeholder);}
.popup-info-item span {position: relative;display: inline-block;font-size: 20px;font-weight: 300;color: var(--color-black-4);padding: 6px 10px;border-radius: 8px;background-color: var(--color-grey-2);}
.popup-info-socials {position: relative;display: inline-block;padding: 6px 10px;border-radius: 8px;background-color: var(--color-grey-2);}
.popup-info-socials a {position: relative;display: inline-block;width: 30px;min-width: 30px;height: 30px;margin-right: 12px;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.popup-info-socials a:last-child {margin-right: 0;}
.popup-info-socials a img {position: relative;display: inline-block;width: auto;}
/*media*/
@media(min-width: 1200px){
  .btn-close-block:hover {border-color: var(--color-pink);background-color: var(--color-pink);}
  .btn-close-block:hover .btn-close::before,.btn-close-block:hover .btn-close::after {background-color: var(--color-white);}
  .popup-info-socials a:hover {-webkit-transform: translateY(-3px);-ms-transform: translateY(-3px);transform: translateY(-3px);}
}
@media(max-width: 767px){
  .popup-align {padding: 15px;}
  .popup-imgs {width: calc(40% - 20px);padding-bottom: calc(40% - 20px);}
  .popup-info {width: 60%;}
  .popup-info-item p,.popup-info-item span {font-size: 18px;}
  .popup-info-socials a {width: 28px;min-width: 28px;height: 28px;}
}
@media(max-width: 575px){
  .btn-close-block {top: 15px;right: 15px;}
  .popup-imgs {width: 40%;padding-bottom: 40%;margin-right: 0;margin-bottom: 20px;}
  .popup-info {width: 100%;}
  .popup-info-item {margin-bottom: 15px;}
}
@media(max-width: 480px){
  .popup-info-item p,.popup-info-item span {font-size: 16px;}
}
@media(max-width: 400px){
  .popup-align {padding: 10px;}
  .btn-close-block {top: 10px;right: 10px;}
  .popup-imgs {width: 35%;padding-bottom: 35%;}
  .popup-info-socials a {width: 26px;min-width: 26px;height: 26px;}
}

/*=============================*/
/* PARTNERS */
/*=============================*/
.partners-sec {position: relative;display: block;width: 100%;background-color: var(--color-white-2);}
.partners-sec .title {margin-bottom: 90px;}
.tab {display: none;}
.partners-block {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: calc(100% + 20px);margin-top: -20px;margin-left: -10px;}
.partners-block-item {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: calc(33.333% - 20px);height: 170px;padding: 10px;background: var(--color-white);border: 1px solid var(--color-border);border-radius: 10px;margin: 20px 10px 0 10px;will-change: transform;-webkit-transition: all 0.3s;-o-transition: all 0.3s; transition: all 0.3s;}
.partners-block-item img {position: relative;display: inline-block;width: auto;height: auto;max-height: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
/*cont*/
.partners-cont {position: relative;width: 100%;height: 100%;padding: 30px;background-color: var(--color-white);border: 1px solid var(--color-border);box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);border-radius: 10px;}
.partners-cont-head {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 100%;margin-bottom: 20px;}
.partners-cont-avatar {position: relative;display: block;width: 72px;min-width: 72px;height: 72px;border-radius: 50%;overflow: hidden;margin-right: 15px;}
.partners-cont-avatar img {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;}
.partners-cont-info {position: relative;display: block;width: 100%;}
.partners-cont-info .media {margin-bottom: 2px;}
.partners-cont-info .text {color: var(--color-text-2);}
/*media*/
@media(min-width: 1200px){
  .partners-block-item:hover {-webkit-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);box-shadow: 0 3px 5px rgba(0,0,0,0.2);}
}
@media(max-width: 1640px){
  .partners-sec .title {margin-bottom: 60px;}
  .partners-block-item {height: 160px;}
}
@media(max-width: 1199px){
  .partners-col {margin-bottom: 40px;}
  .partners-col:last-child {margin-bottom: 0;}
  .partners-sec .title {margin-bottom: 50px;}
  .partners-cont {height: auto;padding: 20px;}
  .partners-block-item {height: 150px;padding: 15px;}
  .partners-block-item:active {-webkit-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px);}
}
@media(max-width: 767px){
  .partners-sec .title {margin-bottom: 40px;}
}
@media(max-width: 575px){
  .partners-block-item {width: calc(50% - 20px);}
}
@media(max-width: 480px){
  .partners-col {margin-bottom: 30px;}
  .partners-cont {padding: 15px;}
  .partners-sec .title {margin-bottom: 30px;}
  .partners-block {width: calc(100% + 16px);margin-top: -16px;margin-left: -8px;}
  .partners-block-item {width: calc(50% - 16px);height: 140px;padding: 10px;margin: 16px 8px 0 8px;}
}

/*=============================*/
/* SWIPER */
/*=============================*/
.swiper-entry,.swiper-control-wrapper {position: relative;}
.swiper-entry::before {position: absolute;z-index: 2;content: '';top: -20px;left: -100%;display: block;width: 100%;height: calc(100% + 40px);background-color: var(--color-white);}
.swiper-container {overflow: visible;}
.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: url(../img/drag.png) 16 9, ew-resize;}
.swiper-slide {background-size: cover;background-position: center center;position: relative;backface-visibility: hidden;}
/*swiper arrow*/
.swiper-bottom-btns {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: auto;}
.swiper-button-prev,.swiper-button-next {position: relative;margin: 0;top: auto;left: auto;right: auto;bottom: auto;z-index: 2;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: 50px;height: 50px;background-image: none;border-radius: 50%;border: 1px solid var(--color-border);background-color: var(--color-white-2);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.swiper-button-prev {margin-right: 30px;}
.swiper-button-prev::before,.swiper-button-next::before {position: absolute;content: '';display: inline-block;width: 26px;height: 26px;background-size: contain;background-repeat: no-repeat;background-position: center;}
.swiper-button-prev::before {background-image: url('../img/icons/arrow_left.svg');}
.swiper-button-next::before {background-image: url('../img/icons/arrow_right.svg');}
.swiper-button-prev::after,.swiper-button-next::after {display: none;}
.swiper-entry .swiper-button-prev.swiper-button-disabled,.swiper-entry .swiper-button-next.swiper-button-disabled {opacity: 0.6;pointer-events: none;}
.swiper-button-prev.swiper-button-lock,.swiper-button-next.swiper-button-lock {display: none;}
.swiper-button-prev:active,.swiper-button-next:active {-webkit-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px);}
/*swiper pagination*/
.swiper-pagination {position: relative;z-index: 2;display: block;width: 75%;height: 1px;line-height: 0;background-color: var(--color-grey);}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {position: absolute;left: 0;top: -3px;width: 100%;height: 6px;background-color: var(--color-black-3);box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);border-radius: 1px;-webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0);-webkit-transform-origin: left top;-ms-transform-origin: left top;transform-origin: left top;}
.swiper-pagination.swiper-pagination-lock {display: none;}
.swiper-bottom {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;width: 100%;margin-top: 60px;}
/* media */
@media(min-width: 1200px){
  .swiper-button-prev:hover,.swiper-button-next:hover {-webkit-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
}
@media(max-width: 1199px){
  .swiper-bottom {margin-top: 50px;}
  .swiper-entry::before {display: none;}
}
@media(max-width: 991px){
  .swiper-pagination {width: 100%;}
  .swiper-bottom-btns {display: none;}
}
@media(max-width: 480px){
  .swiper-bottom {margin-top: 40px;}
}

/*=============================*/
/* TEAM */
/*=============================*/
.team-sec {position: relative;display: block;width: 100%;background-color: var(--color-white);overflow: hidden;}
.team-sec .title {margin-bottom: 70px;}
.team-decor {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;}
.team-decor img {position: absolute;z-index: 3;display: inline-block;width: auto;height: auto;}
.team-decor img:nth-child(1) {-webkit-transform-origin: top right;-ms-transform-origin: top right;transform-origin: top right}
.team-decor img:nth-child(2) {-webkit-transform-origin: bottom left;-ms-transform-origin: bottom left;transform-origin: bottom left;}
/*cont*/
.team-cont {position: relative;z-index: 3;display: block;width: 100%;}
.team-cont .media {margin-bottom: 10px;}
/*slide*/
.team-slide {position: relative;display: block;width: 100%;}
.team-slide::before {position: absolute;z-index: 1;content: '';top: 0;left: 0;display: block;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);opacity: 0;visibility: hidden;-webkit-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}
.team-slide-imgs {position: relative;display: block;width: 100%;height: 0;padding-bottom: 80%;background-color: var(--color-white);border: 1px solid var(--color-border);border-radius: 5px;overflow: hidden;}
.team-slide img {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;}
.team-slide-cont {position: absolute;z-index: 2;bottom: 0;left: 0;display: block;width: 100%;text-align: center;opacity: 0;visibility: hidden;will-change: transform;-webkit-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}
.team-slide-cont .media {margin-bottom: 5px;}
.team-slide-cont .text {color: var(--color-white-2);margin-bottom: 20px;}
.team-sec .checkbox-wrapper {margin-bottom: 70px;}
/*media*/
@media(min-width: 1200px){
  .team-slide:hover::before {opacity: 1;visibility: visible;}
  .team-slide:hover .team-slide-cont {opacity: 1;visibility: visible;-webkit-transform: translateY(-50px);-ms-transform: translateY(-50px);transform: translateY(-50px);}
}
@media(max-width: 1640px){
  .team-sec .title,.team-sec .checkbox-wrapper {margin-bottom: 60px}
  .team-decor img {-webkit-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);}
}
@media(max-width: 1199px){
  .team-sec .title,.team-sec .checkbox-wrapper {margin-bottom: 50px;}
  .team-decor img {z-index: 0;-webkit-transform: scale(0.7);-ms-transform: scale(0.7);transform: scale(0.7);}
  .team-decor img:nth-child(2) {display: none;}
  .team-cont {margin-bottom: 40px;}
  .swiper-slide-active .team-slide::before {opacity: 1;visibility: visible;}
  .swiper-slide-active .team-slide .team-slide-cont {opacity: 1;visibility: visible;-webkit-transform: translateY(-50px);-ms-transform: translateY(-50px);transform: translateY(-50px);}
}
@media(max-width: 767px){
  .team-sec .title,.team-sec .checkbox-wrapper {margin-bottom: 40px;}
}
@media(max-width: 575px){
  .team-slide-cont .btn {width: auto;padding: 0 60px;}
}
@media(max-width: 480px){
  .team-sec .title {margin-bottom: 30px;}
}
@media(max-width: 400px){
  .swiper-slide-active .team-slide .team-slide-cont {-webkit-transform: translateY(-40px);-ms-transform: translateY(-40px);transform: translateY(-40px);}
}

/*=============================*/
/* CONTACT */
/*=============================*/
.contact-sec {position: relative;display: block;width: 100%;padding-bottom: 284px;overflow: hidden;background-color: var(--color-white-2);}
.contact-sec .title {margin-bottom: 90px;}
.contact-decor {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;}
.contact-decor img {position: absolute;display: inline-block;width: auto;height: auto;}
.contact-decor img:nth-child(1) {-webkit-transform-origin: bottom left;-ms-transform-origin: bottom left;transform-origin: bottom left;}
.contact-decor img:nth-child(2) {top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);-webkit-transform-origin: right;-ms-transform-origin: right;transform-origin: right;}
/*media*/
@media(max-width: 1640px){
  .contact-sec {padding-bottom: 240px;}
  .contact-decor img {-webkit-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
  .contact-decor img:nth-child(2) {-webkit-transform: translateY(-50%) scale(0.9);-ms-transform: translateY(-50%) scale(0.9);transform: translateY(-50%) scale(0.9);}
  .contact-sec .title {margin-bottom: 68px;}
}
@media(max-width: 1440px){
  .contact-sec {padding-bottom: 190px;}
  .contact-decor img {-webkit-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);}
  .contact-decor img:nth-child(2) {-webkit-transform: translateY(-50%) scale(0.8);-ms-transform: translateY(-50%) scale(0.8);transform: translateY(-50%) scale(0.8);}
}
@media(max-width: 1199px){
  .contact-sec {padding-bottom: 80px;}
  .contact-sec .title {margin-bottom: 52px;}
  .contact-decor img:nth-child(1) {display: none;}
  .contact-decor img:nth-child(2) {margin-right: -150px;}
  .contact-decor img {-webkit-transform: scale(0.7);-ms-transform: scale(0.7);transform: scale(0.7);}
  .contact-decor img:nth-child(2) {-webkit-transform: translateY(-50%) scale(0.7);-ms-transform: translateY(-50%) scale(0.7);transform: translateY(-50%) scale(0.7);}
}
@media(max-width: 991px){
  .contact-sec {padding-bottom: 60px;}
  .contact-decor img:nth-child(2) {-webkit-transform: translateY(-50%) scale(0.6);-ms-transform: translateY(-50%) scale(0.6);transform: translateY(-50%) scale(0.6);}
}
@media(max-width: 767px){
  .contact-sec .title {margin-bottom: 36px;}
}
@media(max-width: 575px){
  .contact-sec {padding-bottom: 50px;}
  .contact-sec .title {margin-bottom: 20px;}
  .contact-decor img:nth-child(2) {margin-right: -120px;}
}

/*=============================*/
/* FOOTER */
/*=============================*/
.footer-sec {position: relative;display: block;width: 100%;background-color: var(--color-black-3);}
.footer-decor {position: absolute;top: 50%;right: 70px;display: inline-block;width: auto;-webkit-transform-origin: right;-ms-transform-origin: right;transform-origin: right;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.footer-decor img {position: relative;display: inline-block;width: auto;}
.footer-sec .title {margin-bottom: 90px;}
.footer-block {position: relative;display: block;width: 100%;}
.footer-block .title {display: block;margin-bottom: 30px;}
.footer-block .title::before {position: absolute;content: '';bottom: 0;left: 0;display: block;width: 130px;height: 2px;background-color: var(--color-pink);}
.footer-block-info {position: relative;display: block;width: 100%;}
.footer-block-item {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 100%;margin-bottom: 18px;}
.footer-block-item:last-child {margin-bottom: 0;}
.footer-block-item img {position: relative;display: inline-block;width: 24px;min-width: 24px;height: 24px;margin-right: 15px;}
.footer-block-item p,.footer-block-item a {position: relative;display: inline-block;font-size: 20px;color: var(--color-white);}
.footer-block-item a {-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.footer-socials {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;margin-bottom: 30px;}
.footer-socials a {position: relative;display: inline-block;width: 34px;min-width: 34px;height: 34px;margin-right: 15px;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.footer-socials a:last-child {margin-right: 0;}
.footer-socials a img {position: relative;display: inline-block;width: auto;}
.footer-policy {position: relative;display: inline-block;font-size: 18px;color: var(--color-policy);-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
/*media*/
@media(min-width: 1200px){
  .footer-block-item a:hover {color: var(--color-pink);}
  .footer-socials a:hover {-webkit-transform: translateY(-3px);-ms-transform: translateY(-3px);transform: translateY(-3px);}
  .footer-policy:hover {color: var(--color-white);}
}
@media(max-width: 1640px){
  .footer-decor {right: 60px;-webkit-transform: translateY(-50%) scale(0.9);-ms-transform: translateY(-50%) scale(0.9);transform: translateY(-50%) scale(0.9);}
  .footer-socials a {width: 32px;min-width: 32px;height: 32px;}
  .footer-sec .title:not(.footer-block .title) {margin-bottom: 80px;}
}
@media(max-width: 1440px){
  .footer-sec .title:not(.footer-block .title) {margin-bottom: 60px;}
  .footer-decor {right: 45px;-webkit-transform: translateY(-50%) scale(0.75);-ms-transform: translateY(-50%) scale(0.75);transform: translateY(-50%) scale(0.75);}
}
@media(max-width: 1199px){
  .footer-decor {display: none;}
  .footer-col {margin-top: 40px;}
  .footer-col:nth-child(1),.footer-col:nth-child(2) {margin-top: 0;}
  .footer-sec .title:not(.footer-block .title) {margin-bottom: 50px;}
  .footer-socials a {width: 30px;min-width: 30px;height: 30px;}
  .footer-block-item img {width: 22px;min-width: 22px;height: 22px;margin-right: 12px;}
  .footer-block .title::before {width: 120px;}
}
@media(max-width: 767px){
  .footer-col:nth-child(2) {margin-top: 40px;}
  .footer-sec .title:not(.footer-block .title) {margin-bottom: 40px;}
  .footer-block .title,.footer-socials {margin-bottom: 20px;}
  .footer-block-item p,.footer-block-item a {font-size: 18px;}
  .footer-socials a {width: 28px;min-width: 28px;height: 28px;}
  .footer-block-item img {width: 20px;min-width: 20px;height: 20px;}
  .footer-block .title::before {width: 110px;}
}
@media(max-width: 480px){
  .footer-col,.footer-col:nth-child(2) {margin-top: 30px;}
  .footer-sec .title:not(.footer-block .title) {margin-bottom: 30px;}
  .footer-socials a {width: 26px;min-width: 26px;height: 26px;}
  .footer-block-item img {width: 18px;min-width: 18px;height: 18px;}
  .footer-block-item p,.footer-block-item a,.footer-policy {font-size: 16px;}
  .footer-block .title::before {width: 90px;}
}